Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

chore: Missing declaration
  dashboard/src/views/server/NewServer.vue
Owners: @NagariaHussain

feat: Show app + db plan combination before server creation
  dashboard/src/views/server/NewServer.vue
  dashboard/src/views/server/NewVerifyServer.vue
Owners: @NagariaHussain

feat: Application Server Plans page
  dashboard/src/views/server/NewAppServerPlans.vue
  dashboard/src/views/server/NewServer.vue
  press/api/server.py
Owners: @NagariaHussain

chore: Missing declarations
  dashboard/src/views/server/NewServer.vue
  dashboard/src/views/server/NewVerifyServer.vue
Owners: @NagariaHussain

feat: New Server resource
  dashboard/src/views/server/NewServer.vue
Owners: @NagariaHussain

fix: Route to Overview tab after server creation
  dashboard/src/views/server/NewServer.vue
Owners: @NagariaHussain

chore: Remove unused code
  press/api/server.py
Owners: none

feat: Show app + db plan combination before server creation
  dashboard/src/views/server/NewServer.vue
Owners: @NagariaHussain

feat: Serial autoname for Virtual Machines
  press/press/doctype/virtual_machine/virtual_machine.json
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

feat: Auto calculate private_ip_address
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Recently provisioned machines might not have public IP set
  press/press/doctype/database_server/database_server.json
  press/press/doctype/proxy_server/proxy_server.json
  press/press/doctype/server/server.json
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Link to Server DocTypes
  press/press/doctype/virtual_machine/virtual_machine.json
Owners: none

fix: Typo
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Update Route 53 DNS records if public IP changes
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Create Proxy Server from Virtual Machine
  press/press/doctype/virtual_machine/virtual_machine.js
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Create Database Server from Virtual Machine
  press/press/doctype/virtual_machine/virtual_machine.js
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Create Server from Virtual Machine
  press/press/doctype/virtual_machine/virtual_machine.js
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Set team field on Server DocTypes
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

feat: New Server + Database Server
  press/api/server.py
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

feat: Create subscriptions for Server DocTypes
  press/api/server.py
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Add Plan Change DocType
  press/press/doctype/plan_change/__init__.py
  press/press/doctype/plan_change/plan_change.js
  press/press/doctype/plan_change/plan_change.json
  press/press/doctype/plan_change/plan_change.py
  press/press/doctype/plan_change/test_plan_change.py
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Hide archived servers from server list
  press/api/server.py
Owners: none

fix Update Server status based on Virtual Machine status
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Mark Servers as already setup if created from a snapshot
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Tag Virtual Machine Image with server type
  press/press/doctype/virtual_machine_image/virtual_machine_image.json
Owners: none

feat: Start and stop actions for Virtual Machines
  press/press/doctype/virtual_machine/virtual_machine.js
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Only show possible Virtual Machine actions
  press/press/doctype/virtual_machine/virtual_machine.js
Owners: none

fix: Set virtual_machine as a title field for Virtual Machine Image
  press/press/doctype/virtual_machine_image/virtual_machine_image.json
Owners: none

fix: Add enable_auto_deploy field
  press/press/doctype/release_group_app/release_group_app.json
Owners: none

feat: Use VIrtual Machine Images to create servers
  press/api/server.py
Owners: none

chore: Add lms logo
  press/public/images/signup/lms.png
Owners: none

fix: Replace broken image with png for LMS logo on prepare-site template
  press/public/images/signup/lms.png
Owners: none

fix: Add is_server_prepared field
  press/press/doctype/database_server/database_server.js
  press/press/doctype/database_server/database_server.json
  press/press/doctype/server/server.js
  press/press/doctype/server/server.json
Owners: @adityahase

feat: Sync AMI Size
  press/press/doctype/virtual_machine_image/virtual_machine_image.json
  press/press/doctype/virtual_machine_image/virtual_machine_image.py
Owners: none

feat: Server Jobs tab
  dashboard/src/router/server.js
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerJobs.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Server Plays tab
  dashboard/src/router/server.js
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerPlays.vue
  press/api/server.py
Owners: @NagariaHussain

fix: Remove bloat from prometheus result labels
  press/api/server.py
Owners: none

fix: Increaase VM disk size to accomodate AMI size
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

chore: Remove unused whitelisted methods
  press/api/bench.py
  press/api/server.py
Owners: none

feat: Ansible Plays Component
  dashboard/src/views/general/AnsiblePlays.vue
  dashboard/src/views/general/PlaysDetail.vue
Owners: @NagariaHussain

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
