Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

chore: Set site on line item for prepaid invoices
  press/api/marketplace.py
Owners: none

chore: Set minimum balance to add as total of unpaid invoices
  dashboard/src/components/BuyPrepaidCredits.vue
  dashboard/src/components/PrepaidCreditsDialog.vue
  dashboard/src/views/billing/AccountBillingUsage.vue
  press/api/billing.py
Owners: @NagariaHussain

fix: Typo
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

fix: Twitching sidebar :(
  dashboard/src/App.vue
Owners: @NagariaHussain

fix: Password strength check allowing weak passwords
  press/templates/saas/signup.html
Owners: @rutwikhdev

fix(Site): Activate site even if Rename Site on Upstream failed first
  press/press/doctype/site/site.py
Owners: @balamurali27

refactor(Site): Remove BackupRestorationTest callacks from archive site callback
  press/hooks.py
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(Site): Mark archived if remove step succeeds
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: Added categories to marketplace
  press/press/doctype/marketplace_app/marketplace_app.py
  press/public/js/marketplace.bundle.js
  press/public/marketplace/tailwind.config.js
  press/www/marketplace/index.html
  press/www/marketplace/index.py
Owners: @NagariaHussain

fix: Sidebar styling
  dashboard/src/App.vue
Owners: @NagariaHussain

chore: Show discounts in Invoice Usage Table
  dashboard/src/components/InvoiceUsageTable.vue
  press/press/doctype/invoice/invoice.json
Owners: @NagariaHussain

fix: Reload App Release Difference to avoid Timestamp Mismatch Error
  press/press/doctype/deploy_candidate_difference/deploy_candidate_difference.py
Owners: none

fix: Don't try to create redundant Deploy Candidate Differences
  press/press/doctype/deploy/deploy.py
Owners: none

fix: Don't send payment_method if card not added
  press/api/billing.py
Owners: none

chore: Remove a few more params from create_payment_intent
  press/api/billing.py
Owners: none

feat: add more fields in in slow query log report
  press/press/report/mariadb_slow_queries/mariadb_slow_queries.py
Owners: none

fix: Don't try to create redundant Deploy Candidate Differences
  press/press/doctype/deploy/deploy.py
Owners: none

feat: add more fields in in slow query log report
  press/press/report/mariadb_slow_queries/mariadb_slow_queries.py
Owners: none

chore: Show discounts in Invoice Usage Table
  dashboard/src/components/InvoiceUsageTable.vue
  press/press/doctype/invoice/invoice.json
Owners: @NagariaHussain

chore: Update connection link doctype (Marketplace App Subscription)
  press/press/doctype/site/site.json
Owners: @balamurali27

fix(SitePlanChange): Give read/write access to Site Manager
  press/press/doctype/site_plan_change/site_plan_change.json
Owners: @balamurali27

chore: Use site filter for subscription
  press/api/developer/marketplace.py
Owners: none

fix: Reload App Release Difference to avoid Timestamp Mismatch Error
  press/press/doctype/deploy_candidate_difference/deploy_candidate_difference.py
Owners: none

chore: Set site on line item for prepaid invoices
  press/api/marketplace.py
Owners: none

fix(Site): Activate site even if Rename Site on Upstream failed first
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(Site): Mark archived if remove step succeeds
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Show credit balance history to users with Free Credits as well
  press/api/billing.py
Owners: none

fix: Twitching sidebar :(
  dashboard/src/App.vue
Owners: @NagariaHussain

fix: Typo
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
Owners: @NagariaHussain

chore: Deprecate login_url feature and minor fixes
  press/api/developer/marketplace.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
  press/press/doctype/press_settings/press_settings.json
  press/www/saas/billing.html
Owners: @NagariaHussain, @rutwikhdev

chore: Remove a few more params from create_payment_intent
  press/api/billing.py
Owners: none

fix: Sidebar styling
  dashboard/src/App.vue
Owners: @NagariaHussain

refactor(Site): Remove BackupRestorationTest callacks from archive site callback
  press/hooks.py
  press/press/doctype/site/site.py
Owners: @balamurali27

chore: Ignore duplicate entries for Mail Log
  press/api/email.py
Owners: none

feat: Run after install/uninstall scripts for marketplace apps
  press/press/doctype/marketplace_app/marketplace_app.json
  press/press/doctype/marketplace_app/marketplace_app.py
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Password strength check allowing weak passwords
  press/templates/saas/signup.html
Owners: @rutwikhdev

fix: Don't send payment_method if card not added
  press/api/billing.py
Owners: none

feat: Added categories to marketplace
  press/press/doctype/marketplace_app/marketplace_app.py
  press/public/js/marketplace.bundle.js
  press/public/marketplace/tailwind.config.js
  press/www/marketplace/index.html
  press/www/marketplace/index.py
Owners: @NagariaHussain

fix: Download ChromeDriver
  press/sanity.py
Owners: none

refactor: Marketplace Consumption logic
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.json
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
  press/press/doctype/invoice/invoice.json
Owners: @NagariaHussain

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
