Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

fix: Keep JSON encoded site config values as is
  press/utils/__init__.py
Owners: none

fix: Whitelist Site.sync_info
  press/press/doctype/site/site.js
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Don't create duplicate Site Usage records
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Don't poll for changes on GItHub if last attempt had failed
  press/press/doctype/app_source/app_source.py
Owners: none

feat: Reboot server from dashboard
  dashboard/src/views/server/Server.vue
  press/api/server.py
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: @NagariaHussain

fix: Auto deploy only on enabled release groups
  press/press/doctype/app_release/app_release.py
Owners: none

fix: Allow users to forcefully fetch latest commit
  press/api/bench.py
Owners: none

fix: Don't poll for changes on GItHub if last attempt had failed
  press/press/doctype/app/app.py
Owners: none

fix: Prefer least recently synced app sources
  press/press/doctype/app/app.py
  press/press/doctype/app_source/app_source.json
  press/press/doctype/app_source/app_source.py
Owners: none

fix(AgentJob): Set default status to Undelivered
  press/agent.py
Owners: none

fix: Don't schedule updates for sites where an update is already pending
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix(Site): Consider Archive Job successful if archive step succeeded
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: update password message
  press/templates/saas/signup.html
Owners: @rutwikhdev

chore: typo in signup template
  press/templates/saas/signup.html
Owners: @rutwikhdev

fix: Raise for 5xx errors even if we recieve a JSON response
  press/agent.py
Owners: none

fix: Maintain app order in apps.txt
  press/docker/Dockerfile
  press/docker/Dockerfile_Bench_5_15_2
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: none

fix: Generate NGINX config action for bench
  press/press/doctype/bench/bench.js
  press/press/doctype/bench/bench.py
Owners: none

fix: Update site config action for Site
  press/press/doctype/site/site.js
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Allow creating deploy candidate without changing any apps
  press/press/doctype/release_group/release_group.js
  press/press/doctype/release_group/release_group.py
Owners: none

fix: Use get_app_name from bench to find out python module name
  press/patches.txt
  press/press/doctype/deploy_candidate/deploy_candidate.py
  press/press/doctype/deploy_candidate_app/deploy_candidate_app.json
  press/press/doctype/deploy_candidate_app/patches/set_app_name_to_app.py
  requirements.txt
Owners: none

feat: sendmail on failed version upgrade
  press/press/doctype/version_upgrade/version_upgrade.py
Owners: none

fix: Revert "chore: Remove duplicate code"
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Show Update Avaialble banner for sites on broken benches.
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: Redirect to the site if URL refers to a custom domain
  dashboard/src/views/site/Site.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

fix: Preserve tab while redirecting
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

fix: Preserve site name in URL while routing to the default tab
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

fix(Bench): Mark Active if archive failed due to existent sites
  press/press/doctype/bench/bench.py
Owners: none

chore: Run create_usage_records every 15 mins
  press/hooks.py
Owners: none

perf: Ignore minor differences in disk usage
  press/press/doctype/site/site_usages.py
Owners: @balamurali27

fix: Update disk usage in a try-commit-except-rollback loop
  press/press/doctype/site/site_usages.py
Owners: @balamurali27

perf: Move update_disk_usage Python loop to a CTE
  press/press/doctype/site/site_usages.py
Owners: @balamurali27

fix: Typo
  press/press/doctype/site/site_usages.py
Owners: @balamurali27

fix: Typo
  press/press/doctype/site/site_usages.py
Owners: @balamurali27

fix: NoneType and Int comparison
  press/press/doctype/plan/plan.py
Owners: none

fix: Update CPU usage in a try-commit-except-rollback loop
  press/press/doctype/site/site_usages.py
Owners: @balamurali27

fix(Site): Handle idempotent rename jobs in callback
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(backbone): Disable QEMU session
  backbone/vagrant/Vagrantfile
Owners: @adityahase

chore: Consistent messages on signup template
  press/templates/saas/setup-account.html
Owners: @rutwikhdev

fix: Plan config might not have a cpu limit set
  press/press/doctype/site/site_usages.py
Owners: @balamurali27

fix: Set ownership of agent log files to frappe user
  press/playbooks/roles/update_agent/tasks/main.yml
Owners: @adityahase, @balamurali27
