Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

fix: allow only parent to transfer site
  dashboard/src/views/site/Site.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

chore: Allow guest request for press.api.saas.get_site_url_and_sid
  press/api/saas.py
Owners: none

replace to eu-central-1
  press/api/site.py
  press/press/doctype/press_settings/press_settings.py
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: @balamurali27

fix: whitelist Website Analytics endpoint
  press/auth.py
Owners: none

fix: fetch only submitted Balance Transactions
  press/press/doctype/invoice/invoice.py
Owners: @NagariaHussain

fix: usage record doesn't have parent_team attr
  press/press/doctype/usage_record/usage_record.py
Owners: none

chore: Add options to marketplace search and don't set default category
  press/public/js/marketplace.bundle.js
Owners: none

fix(AppRename): Add rollback script
  press/agent.py
  press/press/doctype/app_rename/app_rename.json
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

chore(AgentJobType): Add step for App Specific Scripts
  press/fixtures/agent_job_type.json
Owners: none

fix(AppRename): Rename script field to before_migrate_script
  press/press/doctype/app_rename/app_rename.json
Owners: none

fix(onboarding): Submit button shown after adding address
  dashboard/src/components/StripeCard.vue
  dashboard/src/views/onboarding/OnboardingStepSetupPayment.vue
Owners: @NagariaHussain

feat: add payment date to dashboard
  dashboard/src/views/billing/AccountBillingPayments.vue
Owners: @NagariaHussain

fix: plan is not getting the correct price
  press/api/site.py
Owners: @balamurali27

fix
  press/api/site.py
Owners: @balamurali27

fix: update state name to puducherry
  press/utils/billing.py
Owners: none

fix: Remove hardcoded password in Convert.yml
  press/playbooks/roles/convert/tasks/main.yml
Owners: @adityahase, @balamurali27

chore: Remove ui validation for password and show suggestions from framework validation
  press/api/saas.py
  press/public/js/form_controller.js
  press/templates/saas/signup.html
Owners: @rutwikhdev

feat: Setup posthog for server side events
  press/api/saas.py
  press/utils/telemetry.py
  requirements.txt
Owners: none

fix(TestSite): Update tests for change in rename job callback
  press/press/doctype/site/test_site.py
Owners: @balamurali27

chore: Telemetry for frappe cloud signups and onboarding
  dashboard/index.html
  dashboard/src/components/StripeCard.vue
  dashboard/src/main.js
  dashboard/src/views/auth/SetupAccount.vue
  dashboard/src/views/auth/Signup.vue
  press/www/dashboard.py
Owners: @NagariaHussain

comment clusetr
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(TestBench): Make tests rerunnable
  press/press/doctype/bench/test_bench.py
Owners: none

fix(TestSiteDomain): Move test over to TestSite
  press/press/doctype/site/test_site.py
  press/press/doctype/site_domain/test_site_domain.py
Owners: @balamurali27

style: flake8
  press/press/doctype/site_domain/test_site_domain.py
Owners: @balamurali27

feat: added team title and changed team naming series
  dashboard/src/components/PrepaidCreditsDialog.vue
  press/api/account.py
  press/api/saas.py
  press/press/doctype/team/team.json
  press/press/doctype/team/team.py
  press/utils/__init__.py
Owners: @NagariaHussain

feat: Topics for Telegram
  press/bootstrap.py
  press/patches.txt
  press/press/doctype/alertmanager_webhook_log/alertmanager_webhook_log.py
  press/press/doctype/central_site_migration/central_site_migration.py
  press/press/doctype/press_settings/press_settings.json
  press/press/doctype/security_update_check/security_update_check.py
  press/press/doctype/telegram_group/__init__.py
  press/press/doctype/telegram_group/patches/create_groups_from_press_settings.py
  press/press/doctype/telegram_group/telegram_group.js
  press/press/doctype/telegram_group/telegram_group.json
  press/press/doctype/telegram_group/telegram_group.py
  press/press/doctype/telegram_group/test_telegram_group.py
  press/press/doctype/telegram_group_topic/__init__.py
  press/press/doctype/telegram_group_topic/telegram_group_topic.json
  press/press/doctype/telegram_group_topic/telegram_group_topic.py
  press/telegram_utils.py
  requirements.txt
Owners: none

fix: Remove redundant line
  press/telegram_utils.py
Owners: none

fix: Typo
  press/press/doctype/telegram_group/patches/create_groups_from_press_settings.py
Owners: none

fix: Respond on the same topic
  press/telegram_utils.py
Owners: none

chore: Rename files to maintain semantics
  press/docker/Dockerfile
  press/docker/Dockerfile_Bench_5_2_1
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: none

chore: Prefix capture events with fc_saas
  press/api/saas.py
  press/utils/telemetry.py
Owners: none

chore: Comment dashboard side telemetry
  dashboard/src/components/StripeCard.vue
  dashboard/src/main.js
  dashboard/src/views/auth/SetupAccount.vue
  dashboard/src/views/auth/Signup.vue
Owners: @NagariaHussain

chore: Add get_site_name method to account_request
  press/press/doctype/account_request/account_request.py
Owners: none

feat: APT Packages
  press/docker/Dockerfile
  press/press/doctype/deploy_candidate/deploy_candidate.json
  press/press/doctype/deploy_candidate/deploy_candidate.py
  press/press/doctype/deploy_candidate_package/__init__.py
  press/press/doctype/deploy_candidate_package/deploy_candidate_package.json
  press/press/doctype/deploy_candidate_package/deploy_candidate_package.py
  press/press/doctype/release_group/release_group.json
  press/press/doctype/release_group/release_group.py
  press/press/doctype/release_group_package/__init__.py
  press/press/doctype/release_group_package/release_group_package.json
  press/press/doctype/release_group_package/release_group_package.py
Owners: none

fix: create child team with descriptive labels
  dashboard/src/views/settings/AccountTeam.vue
  press/api/account.py
  press/press/doctype/team/team.json
  press/press/doctype/team/team.py
Owners: @NagariaHussain

patch: set user as default team title
  press/patches.txt
  press/press/doctype/team/patches/set_team_title.py
Owners: none

fix: check team title for child team
  dashboard/src/views/site/Site.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

fix: use team title as Title
  dashboard/src/views/settings/AccountTeam.vue
Owners: @NagariaHussain

chore: Switch team from profile dropdown
  dashboard/src/components/Sidebar.vue
  dashboard/src/views/settings/AccountTeam.vue
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

fix: use team.user instead of name
  press/api/account.py
  press/api/site.py
Owners: @balamurali27

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
