Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

chore: Update upstream to use Public IP for self-hosted setups
  press/agent.py
Owners: none

fix: Site Backup expiry
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Navbar on mobile view
  dashboard/src/App.vue
  dashboard/src/components/Navbar.vue
  dashboard/src/views/marketplace/MarketplaceApps.vue
Owners: @NagariaHussain

chore: select annual plan by default
  press/templates/saas/macros.html
Owners: @rutwikhdev

chore: Add SSH Port option and Ping Actions
  press/press/doctype/database_server/database_server.json
  press/press/doctype/database_server/database_server.py
  press/press/doctype/self_hosted_server/self_hosted_server.js
  press/press/doctype/self_hosted_server/self_hosted_server.json
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/self_hosted_site_apps/self_hosted_site_apps.json
  press/press/doctype/server/server.json
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Publisher developer communication
  dashboard/src/components/marketplace/MarketplaceAppReviewStages.vue
  dashboard/src/views/marketplace/MarketplaceAppReview.vue
  dashboard/src/views/marketplace/MarketplaceApps.vue
  press/api/marketplace.py
Owners: @NagariaHussain

chore: Send notification to assigned dev
  press/api/marketplace.py
Owners: none

chore: Revert https://github.com/frappe/press/commit/3607a2ab974b174d69c081ac387965871a125fec
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

chore: Update timezone related util functions
  press/press/doctype/site/site.py
  press/press/report/binary_log_browser/binary_log_browser.py
Owners: @balamurali27

feat: Implement restoring files from sites on existing Benches to new sites - Implemented an Ansible playbook for the same - Added a field in Sites child table for New Sites Generated
  press/playbooks/roles/get_files/tasks/main.yml
  press/playbooks/self_hosted_restore.yml
  press/press/doctype/self_hosted_server/self_hosted_server.js
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/self_hosted_site_apps/self_hosted_site_apps.json
Owners: @adityahase, @balamurali27

chore: Removed Unwanted Comment and apply formatting
  press/agent.py
Owners: none

chore: send end_date in subscription_info
  press/api/developer/marketplace.py
Owners: none

fix: Show error message if plan can't be changed
  dashboard/src/views/server/ServerOverviewPlan.vue
  dashboard/src/views/site/DatabaseAccessDialog.vue
  dashboard/src/views/site/SiteOverviewPlan.vue
Owners: @NagariaHussain

fix: Use withCredentials with Socket.IO client
  dashboard/src/controllers/socket.js
Owners: @NagariaHussain

chore: Update requirements.txt
  requirements.txt
Owners: none

chore: Update convert to be used with Mariadb 10.4 and Minor fixes
  press/playbooks/roles/convert/tasks/main.yml
  press/press/doctype/database_server/database_server.json
  press/press/doctype/self_hosted_server/self_hosted_server.js
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27

fix: Use convert_utc_to_system_timezone if convert_utc_to_user_timezone is missing
  press/press/doctype/site/site.py
  press/press/report/binary_log_browser/binary_log_browser.py
Owners: @balamurali27

fix: don't schedule auto update if site app is missing
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

chore: Refetch readme for marketplace app
  dashboard/src/components/MarketplaceAppDescriptions.vue
  press/api/marketplace.py
Owners: @NagariaHussain

chore: Add credit consumption as hourly job
  press/hooks.py
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
Owners: @NagariaHussain

chore: Ignore created records
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
Owners: @NagariaHussain

feat: Binary log browser using timespan instead of files
  press/press/report/binary_log_browser/binary_log_browser.js
  press/press/report/binary_log_browser/binary_log_browser.py
Owners: none

fix(DX): make bench build work inside contianers
  press/docker/Dockerfile
Owners: none

chore: Add a new field if the Self Hosted Server Setup is new
  press/api/server.py
  press/press/doctype/database_server/database_server.py
  press/press/doctype/self_hosted_server/self_hosted_server.js
  press/press/doctype/self_hosted_server/self_hosted_server.json
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/server/server.py
Owners: @adityahase

fix(DX): make bench build work inside contianers (#765)
  press/docker/Dockerfile
Owners: none

fix: remove clone directory if failed
  press/press/doctype/app_release/app_release.py
Owners: none

fix: use on_trash explicitly to cleanup
  press/press/doctype/app_release/app_release.py
Owners: none

feat: Binary log browser using timespan instead of files (#764)
  press/press/report/binary_log_browser/binary_log_browser.js
  press/press/report/binary_log_browser/binary_log_browser.py
Owners: none

chore: Minor changes in invoicing for saas
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
  press/press/doctype/invoice/invoice.py
  press/press/doctype/usage_record/usage_record.json
Owners: @NagariaHussain

style: Black
  press/press/doctype/tls_certificate/tls_certificate.py
  press/press/report/binary_log_browser/binary_log_browser.py
Owners: none

fix: Set default server to drop requests for unknown host names
  nginx.conf
Owners: @adityahase

fix: Cache /saas/billing
  nginx.conf
Owners: @adityahase

fix: Export prometheus metrics for press server
  nginx.conf
Owners: @adityahase

fix: Aggresively cache plausible script
  nginx.conf
Owners: @adityahase

fix: Add cache-status header
  nginx.conf
Owners: @adityahase

fix: Use case-insensitive matching for file extensions
  nginx.conf
Owners: @adityahase

fix: binlog browser doesn't show anything for small timespans
  press/press/report/binary_log_browser/binary_log_browser.py
Owners: none

feat: Delete Virtual Disk Snapshot
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.js
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.py
Owners: none

fix: Periodically sync virtual machines
  press/hooks.py
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

feat: periodically snapshot all virtual machines
  press/hooks.py
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.py
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none
