Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

fix: Remove GitHub Webhook Log older than 30 days
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix
  press/press/doctype/site/site.py
Owners: @balamurali27

fix
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: none

fix: Don't show disabled marketplace plans for subscription
  dashboard/src/components/ChangeAppPlanSelector.vue
  dashboard/src/views/marketplace/MarketplaceAppPricing.vue
  press/api/marketplace.py
Owners: @NagariaHussain

revert
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: none

test
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: none

fix: Treat Skipped as success when Archiving a site
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Respond to edited telegram messages
  press/api/telegram.py
  press/telegram_utils.py
Owners: none

chore: Refactor searchbar ui
  dashboard/src/components/Sidebar.vue
Owners: @NagariaHussain

fix: add org field to balance transaction
  press/press/doctype/balance_transaction/balance_transaction.json
  press/press/doctype/balance_transaction/patches/set_org_field.py
  press/press/doctype/org/org.py
Owners: none

feat: move onboarding to org
  press/api/account.py
  press/overrides.py
  press/press/doctype/org/org.py
  press/press/doctype/team/team.py
  press/utils/__init__.py
Owners: none

fix: Allow email unsubscribe in blocked paths
  press/auth.py
Owners: none

chore: Validate account request if site is active
  press/api/account.py
  press/auth.py
Owners: none

fix: Skip servers without any benches
  press/press/audit.py
Owners: none

chore: Allow requests to endpoints required by Helpdesk
  press/auth.py
Owners: none

fix(ux): allow app renames
  press/agent.py
  press/press/doctype/app_rename_map/__init__.py
  press/press/doctype/app_rename_map/app_rename_map.js
  press/press/doctype/app_rename_map/app_rename_map.json
  press/press/doctype/app_rename_map/app_rename_map.py
  press/press/doctype/app_rename_map/test_app_rename_map.py
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: typo
  press/auth.py
Owners: none

chore: Allow migrate to private bench endpoint
  press/auth.py
Owners: none

chore: move app renames query to a method
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

chore: Fix Server Doctypes and Include Proxy Server to work with Single Server
  press/fixtures/site_config_key.json
  press/playbooks/self_hosted.yml
  press/playbooks/self_hosted_db.yml
  press/playbooks/self_hosted_proxy.yml
  press/press/doctype/database_server/database_server.py
  press/press/doctype/proxy_server/proxy_server.js
  press/press/doctype/proxy_server/proxy_server.json
  press/press/doctype/proxy_server/proxy_server.py
  press/press/doctype/self_hosted_server/self_hosted_server.js
  press/press/doctype/self_hosted_server/self_hosted_server.json
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/server/server.json
  press/press/doctype/server/server.py
Owners: @balamurali27, @adityahase

refactor: Rename App Rename Map to App Rename
  press/press/doctype/app_rename/__init__.py
  press/press/doctype/app_rename/app_rename.js
  press/press/doctype/app_rename/app_rename.json
  press/press/doctype/app_rename/app_rename.py
  press/press/doctype/app_rename/test_app_rename.py
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

feat(Site): Add Run Before Migrate Script Step
  press/fixtures/agent_job_type.json
Owners: none

refactor: Added more tasks in Proxy playbook
  press/playbooks/self_hosted.yml
  press/playbooks/self_hosted_proxy.yml
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27

fix: Don't allow archive bench job if already Pending
  press/press/doctype/bench/bench.py
Owners: none

chore: Add Cluster and Agent Password fields to Self Hosted Server doctype
  press/press/doctype/self_hosted_server/self_hosted_server.json
  press/press/doctype/self_hosted_server/self_hosted_server.py
Owners: @adityahase

feat: Created Marketplace App Payment doctype for tracking app wise payments
  press/marketplace/doctype/marketplace_app_payment/__init__.py
  press/marketplace/doctype/marketplace_app_payment/marketplace_app_payment.js
  press/marketplace/doctype/marketplace_app_payment/marketplace_app_payment.json
  press/marketplace/doctype/marketplace_app_payment/marketplace_app_payment.py
  press/marketplace/doctype/marketplace_app_payment/test_marketplace_app_payment.py
Owners: @NagariaHussain

refactor: Track payouts commission on every line item
  press/press/doctype/payout_order/payout_order.json
  press/press/doctype/payout_order/payout_order.py
Owners: none

chore: Remove unused code
  dashboard/src/router/register.js
Owners: @NagariaHussain

style: Prettier
  dashboard/src/App.vue
  dashboard/src/components/ChangePaymentModeDialog.vue
  dashboard/src/components/MarketplaceAppDescriptions.vue
  dashboard/src/components/MarketplaceAppScreenshots.vue
  dashboard/src/components/marketplace/MarketplaceAppReviewStages.vue
  dashboard/src/utils.js
  dashboard/src/views/bench/BenchApps.vue
  dashboard/src/views/marketplace/MarketplaceApp.vue
  dashboard/src/views/marketplace/MarketplaceAppReview.vue
  dashboard/src/views/marketplace/MarketplaceApps.vue
  dashboard/src/views/server/ServerOverviewPlan.vue
  dashboard/src/views/site/DatabaseAccessDialog.vue
  dashboard/src/views/site/SiteActivity.vue
  dashboard/src/views/site/SiteAutoUpdate.vue
  dashboard/src/views/site/SiteDatabaseRestore.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
  dashboard/src/views/site/SiteOverviewDomains.vue
  dashboard/src/views/site/SiteOverviewPlan.vue
Owners: @NagariaHussain

feat: Implement skip Major Upgrades Validation fix: Update migrate script to make use of new API
  press/press/doctype/version_upgrade/version_upgrade.py
  press/scripts/migrate.py
Owners: none

refactor: Throw error on downgrade from Nightly
  press/press/doctype/version_upgrade/version_upgrade.py
Owners: none

fix(AppRename): Make old and new names Link fields
  press/press/doctype/app_rename/app_rename.json
Owners: none

feat(DeployCandidateDifference): Detect App renames
  press/press/doctype/deploy_candidate_difference/deploy_candidate_difference.py
Owners: none

revert: https://github.com/frappe/press/commit/a963f15db2de7e32572e3b0e5c83d31e0a896697
  press/templates/saas/macros.html
Owners: @rutwikhdev

chore: Show dialog only after setup wizard is complete and make it dismissable
  press/www/saas/billing.html
  press/www/saas/billing.js
Owners: @rutwikhdev

chore: Remove method from developer api for marketplace
  press/api/developer/marketplace.py
  press/api/developer/saas.py
Owners: none

chore: Add Roles back to self hosted server in case of proxy reuse
  press/playbooks/self_hosted.yml
Owners: @adityahase, @balamurali27

chore: Remove fetching Agent Password if server is not used as proxy
  press/press/doctype/self_hosted_server/self_hosted_server.json
  press/press/doctype/self_hosted_server/self_hosted_server.py
Owners: @adityahase

chore(minor): UI fixes
  dashboard/src/components/Sidebar.vue
  dashboard/src/views/server/ServerList.vue
  press/press/doctype/payout_order/payout_order.py
  press/templates/saas/macros.html
  press/www/saas/billing.html
Owners: @NagariaHussain, @rutwikhdev

fix: redirect url
  press/api/marketplace.py
Owners: none
