Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

feat(SiteUpdate): Account for app rename in callbacks
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: redirect url for remote login failure
  dashboard/src/views/partials/LoginBox.vue
  press/api/marketplace.py
Owners: @NagariaHussain

fix(SiteUpdate): Update apps child table correctly
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: Provision to skip gstin field
  press/templates/saas/macros.html
  press/www/saas/billing.html
Owners: @rutwikhdev

chore: Typo
  press/templates/saas/macros.html
Owners: @rutwikhdev

add support for docker.io
  press/press/doctype/deploy_candidate/deploy_candidate.py
  press/press/doctype/ssh_certificate_authority/ssh_certificate_authority.py
Owners: @adityahase

fix(SiteUpdate): Have context of rename in other methods
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix(SiteUpdate): Search app name in site apps list correctly
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix(SiteUpdate): Correct condition for updating bench fields
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

refactor(SiteUpdate): parameter name: rollback -> recover
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

chore: Redirect to overview instead of app page
  press/api/marketplace.py
Owners: none

feat(AgentJobType): Add step for Build Search Index
  press/fixtures/agent_job_type.json
Owners: none

chore: Typos
  press/templates/saas/macros.html
  press/www/prepare-site.html
  press/www/saas/billing.html
Owners: @rutwikhdev

refactor: Payouts commission and ui
  dashboard/src/views/marketplace/MarketplacePayoutDetails.vue
  press/marketplace/doctype/marketplace_app_payment/marketplace_app_payment.py
  press/press/doctype/payout_order/payout_order.py
Owners: @NagariaHussain

style: Black
  press/agent.py
  press/auth.py
Owners: none

fix(App Rename): Use get_all instead of get_list
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: support for docker.io
  press/press/doctype/deploy_candidate/deploy_candidate.py
  press/press/doctype/ssh_certificate_authority/ssh_certificate_authority.py
Owners: @adityahase

feat: Add checkout components
  dashboard/src/views/checkout/Checkout.vue
  dashboard/src/views/checkout/CheckoutAddress.vue
  dashboard/src/views/checkout/CheckoutApps.vue
  dashboard/src/views/checkout/CheckoutPlans.vue
  dashboard/src/views/checkout/CheckoutStripe.vue
Owners: @NagariaHussain

chore: Rename CheckoutStripe -> CheckoutPayment
  dashboard/src/views/checkout/Checkout.vue
  dashboard/src/views/checkout/CheckoutPayment.vue
Owners: @NagariaHussain

chore: Register checkout component to router
  dashboard/src/router/auth.js
Owners: @NagariaHussain

style: Prettier
  dashboard/src/components/Sidebar.vue
  dashboard/src/views/server/ServerList.vue
Owners: @NagariaHussain

chore: Added developer api calls for new checkout screens
  press/api/developer/marketplace.py
Owners: none

chore: Show review tab on attention required status
  dashboard/src/views/marketplace/MarketplaceApp.vue
Owners: @NagariaHussain

fix: Payouts commission if marketplace app payment doesn't exists and ignore flag
  press/marketplace/doctype/marketplace_app_payment/marketplace_app_payment.py
  press/press/doctype/payout_order/payout_order.py
Owners: @NagariaHussain

chore: Set payout order status as Commissioned if totals are commissioned
  press/press/doctype/payout_order/payout_order.json
  press/press/doctype/payout_order/payout_order.py
Owners: none

chore: Add login to FC
  dashboard/src/App.vue
  dashboard/src/views/checkout/Checkout.vue
  dashboard/src/views/checkout/CheckoutConfirmEmail.vue
  dashboard/src/views/checkout/CheckoutPayment.vue
  dashboard/src/views/checkout/CheckoutPlans.vue
Owners: @NagariaHussain

fix: Show payout commission on dashbaord
  press/api/marketplace.py
Owners: none

chore: Add commission to app payment if net_total is 0
  press/press/doctype/payout_order/payout_order.py
Owners: none

fix(style): Alignment of frappe approved check
  press/press/doctype/marketplace_app/templates/marketplace_app.html
Owners: none

Revert "Merge pull request #780 from ssiyad/fix/ux/allow_app_renames"
  press/agent.py
  press/fixtures/frappe_version.json
  press/press/doctype/app_rename/__init__.py
  press/press/doctype/app_rename/app_rename.js
  press/press/doctype/app_rename/app_rename.json
  press/press/doctype/app_rename/app_rename.py
  press/press/doctype/app_rename/test_app_rename.py
  press/press/doctype/deploy_candidate_difference/deploy_candidate_difference.py
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix(App Rename): Make old name data field
  press/press/doctype/app_rename/__init__.py
  press/press/doctype/app_rename/app_rename.js
  press/press/doctype/app_rename/app_rename.json
  press/press/doctype/app_rename/app_rename.py
  press/press/doctype/app_rename/test_app_rename.py
Owners: none

chore: Move onboarding from html to dashboard components
  dashboard/src/views/checkout/Checkout.vue
  press/www/saas/billing.js
Owners: @NagariaHussain, @rutwikhdev

fix: allow parent team to access all resources of child team
  press/api/bench.py
  press/api/server.py
  press/api/site.py
  press/press/doctype/team/team.py
Owners: @balamurali27

feat: create common invoice for child and parent team
  press/press/doctype/subscription/subscription.py
  press/press/doctype/team/team.json
  press/press/doctype/usage_record/usage_record.py
Owners: none

fix: better prompt messages
  dashboard/src/views/settings/AccountTeam.vue
  dashboard/src/views/site/Site.vue
  press/press/doctype/usage_record/usage_record.py
Owners: @NagariaHussain

feat: transfer site to child team from dashboard
  dashboard/src/views/settings/AccountTeam.vue
  dashboard/src/views/site/Site.vue
  press/api/account.py
  press/api/site.py
  press/press/doctype/site/site.py
Owners: @NagariaHussain, @balamurali27

feat: add invited by parent check & hide billing for child team
  dashboard/src/components/Sidebar.vue
  dashboard/src/controllers/account.js
  dashboard/src/views/auth/SetupAccount.vue
  dashboard/src/views/settings/AccountTeam.vue
  press/api/account.py
  press/press/doctype/account_request/account_request.json
  press/press/doctype/team/team.py
Owners: @NagariaHussain

feat: add child team from dashboard
  dashboard/src/controllers/account.js
  dashboard/src/views/settings/AccountTeam.vue
  press/api/account.py
  press/press/doctype/child_team_member/__init__.py
  press/press/doctype/child_team_member/child_team_member.json
  press/press/doctype/child_team_member/child_team_member.py
  press/press/doctype/team/team.json
  press/press/doctype/team/team.py
Owners: @NagariaHussain

feat: invited by parent check && removed child team check
  dashboard/src/views/settings/AccountTeam.vue
  press/api/account.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
  press/press/doctype/subscription/subscription.py
  press/press/doctype/team/team.json
  press/press/doctype/usage_record/usage_record.py
  press/saas/doctype/saas_app_subscription/saas_app_subscription.py
Owners: @NagariaHussain, @rutwikhdev

feat(SiteUpdate): Allow for before_migrate_scripts
  press/agent.py
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27
