Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

fix: Remove hidden class for buttons in mobile view
  dashboard/src/views/bench/Benches.vue
  dashboard/src/views/site/Sites.vue
Owners: @NagariaHussain

refactor: Merge AccountActions with AccountProfile and prettier
  dashboard/src/views/settings/AccountActions.vue
  dashboard/src/views/settings/AccountProfile.vue
  dashboard/src/views/settings/AccountSettings.vue
  dashboard/src/views/settings/AccountTeam.vue
Owners: @NagariaHussain

refactor: AccountMembers card
  dashboard/src/components/CardDetails.vue
  dashboard/src/views/settings/AccountMembers.vue
Owners: @NagariaHussain

chore: Merge support and docs button in sidebar
  dashboard/src/components/Sidebar.vue
Owners: @NagariaHussain

feat: Identify posthog properties
  press/api/saas.py
  press/utils/telemetry.py
Owners: none

fix: dont show payment date for prepaid credits
  dashboard/src/views/billing/AccountBillingPayments.vue
Owners: @NagariaHussain

chore: Auto set country in signup form if geo api returns valid country in response
  press/saas/doctype/saas_signup_generator/saas_signup_generator.py
  press/templates/saas/signup.html
Owners: @rutwikhdev

chore: Fix Styling
  dashboard/src/views/bench/BenchList.vue
  dashboard/src/views/billing/AccountBillingPayments.vue
  dashboard/src/views/settings/AccountMembers.vue
  dashboard/src/views/settings/AccountTeam.vue
  dashboard/src/views/site/SiteList.vue
Owners: @NagariaHussain

style(TestSite): isort
  press/press/doctype/site/test_site.py
Owners: @balamurali27

fix(TestAudit): Mock create_http_request to avoid making background job
  press/tests/test_audit.py
Owners: none

chore(DatabaseServer): Increase replication job timeout to 5 hours
  press/press/doctype/database_server/database_server.py
Owners: @adityahase

fix(BackupRecordCheck): Catch case of ZeroDivisionError
  press/press/audit.py
Owners: none

perf(TestPlan): Rollback instead of delete in tearDown
  press/press/doctype/plan/test_plan.py
Owners: none

fix(TestAudit): Check for failure of audit
  press/tests/test_audit.py
Owners: none

fix: Add rate limit on allow_guest=True methods
  press/api/account.py
Owners: none

feat: Setup google oauth flow for login and signups for dashboard
  press/api/oauth.py
Owners: none

fix: use remote_addr instead of user-defined header ip
  nginx.conf
Owners: @adityahase

fix: Add NGINX location block for dashboard/checkout/*
  nginx.conf
Owners: @adityahase

style: Whitespace
  nginx.conf
Owners: @adityahase

style: Prettier
  press/press/doctype/server/server.js
Owners: @adityahase

feat: Setup proxy_ip on app servers to setup trusted proxy
  press/playbooks/agent_set_proxy_ip.yml
  press/playbooks/roles/agent/tasks/main.yml
  press/playbooks/roles/agent_rename/tasks/main.yml
  press/playbooks/roles/agent_set_proxy_ip/tasks/main.yml
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27

fix: Allow excluding Self-Hosted servers from server reports
  press/press/report/agent_versions/agent_versions.js
  press/press/report/agent_versions/agent_versions.json
  press/press/report/server_stats/server_stats.json
  press/press/report/server_stats/server_stats.py
Owners: none

fix: Setup Agent authentication again
  press/playbooks/roles/agent_set_proxy_ip/tasks/main.yml
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27

feat: Frappe Cloud login and signup with google
  dashboard/src/views/auth/Login.vue
  dashboard/src/views/auth/SetupAccount.vue
  dashboard/src/views/auth/Signup.vue
  press/api/account.py
  press/press/doctype/account_request/account_request.json
Owners: @NagariaHussain

feat: Add google icon
  dashboard/src/components/icons/GoogleIcon.vue
Owners: @NagariaHussain

fix: Redirect link and frappe.db.commit
  press/api/oauth.py
Owners: none
