Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

test: Use frappe-ui outside click directive in test
  dashboard/src/tests/setup/msw.js
Owners: @NagariaHussain

fix: Create Marketplace subscriptions only if there is atleast 1 plan
  press/api/saas.py
Owners: none

fix: Incorrect verification url for erpnext signups
  press/press/doctype/account_request/account_request.py
Owners: none

chore: Added hrms logo for prepare-site template
  press/public/images/signup/hrms.png
Owners: none

fix(SiteUpdate): Set source group after site update fails
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: Added last_used_team field back to team doc
  press/press/doctype/team/team.json
Owners: none

chore: Added Subscribe button
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

chore(ui): Removed console.log and Prettier refactor
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

fix: Show `Enabled`/`Disabled` status only for publishers
  dashboard/src/components/AppPlanCard.vue
  dashboard/src/components/ChangeAppPlanSelector.vue
  dashboard/src/views/marketplace/MarketplaceApps.vue
  press/api/marketplace.py
Owners: @NagariaHussain

feat(UX): Help tooltip for "Attention Required"
  dashboard/src/components/global/register.js
  dashboard/src/views/bench/BenchApps.vue
Owners: @NagariaHussain

feat: AWS Instance Pricing Report
  press/press/report/aws_instance_pricing/__init__.py
  press/press/report/aws_instance_pricing/aws_instance_pricing.js
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

feat: Add Instance Type column
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

fix: Sort instances
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

feat: Filter instances based on processor
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

feat: Show on-demand and reserved pricing
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

feat: Filter instances based on processor
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
Owners: none

feat: Filter instances based on additional storage and networking
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

feat: Remove redundant column definitions
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

fix: Update stale column definitions
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
Owners: none

feat: Add Plan field in Server DocTypes
  press/press/doctype/database_server/database_server.json
  press/press/doctype/server/server.json
Owners: @adityahase

fix: Update stale column definitions
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
Owners: none

fix: Hardcode region for get_products
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

fix: get_products provides reserved instance pricing
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

feat: Show instance and compute saving plans
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

fix: Reserved pricing is the same as instance saving plan
  press/press/report/aws_instance_pricing/aws_instance_pricing.json
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

chore: Bump node version to 14.19
  press/docker/Dockerfile
  press/press/doctype/release_group/release_group.py
Owners: none

chore: Revert aaa22b26ae23e8d32962554d9ffff457f97336e9
  dashboard/src/components/AppPlanCard.vue
  dashboard/src/components/ChangeAppPlanSelector.vue
  dashboard/src/views/marketplace/MarketplaceApps.vue
  dashboard/src/views/site/NewSite.vue
  dashboard/src/views/site/SiteApps.vue
  press/api/marketplace.py
Owners: @NagariaHussain

fix: Instance sort order
  press/press/report/aws_instance_pricing/aws_instance_pricing.py
Owners: none

fix: Filters should pick active subscriptions on paid plans
  press/marketplace/doctype/marketplace_usage_record/marketplace_usage_record.py
Owners: @NagariaHussain

chore: Comment out daily consumption code
  press/marketplace/doctype/marketplace_usage_record/marketplace_usage_record.py
Owners: @NagariaHussain

fix: Send only enabled Signup Drip Emails
  press/press/doctype/drip_email/drip_email.py
Owners: none

feat: Ask cluster/region for Servers
  dashboard/src/views/server/NewServer.vue
  dashboard/src/views/server/NewServerHostname.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Server Plans table
  dashboard/src/components/ServerPlansTable.vue
  dashboard/src/views/server/NewAppServerPlans.vue
Owners: @NagariaHussain

feat: Application Server Plans step
  dashboard/src/views/server/NewServer.vue
Owners: @NagariaHussain

feat: Database Server Plans
  dashboard/src/views/server/NewDBServerPlans.vue
  dashboard/src/views/server/NewServer.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Add fields for Server plans
  press/press/doctype/plan/plan.json
Owners: none

feat: Show the underlying AWS instance for server plans
  press/api/server.py
Owners: none

feat: Ask for a title for servers
  dashboard/src/views/server/NewServer.vue
  dashboard/src/views/server/NewServerHostname.vue
Owners: @NagariaHussain

feat: New Server page
  dashboard/src/router/server.js
  dashboard/src/views/server/NewServer.vue
Owners: @NagariaHussain

feat: Include a small ebs volume with the server plans
  press/api/server.py
  press/press/doctype/plan/plan.json
Owners: none
