Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @shadrak98, @breadgenie, @rutwikhdev, @18alantom

refactor: remove user perm logic from protected decorator (#1814)
  press/api/site.py
Owners: @balamurali27

fix: github webhook, add save 🌚
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix: gh webhook, handle suspension
  press/press/doctype/app_source/app_source.py
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix: uninstall all sources
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix: optional None arg
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix(SiteMigration): Put site in Pending throughout migration
  press/press/doctype/site/site.py
  press/press/doctype/site_migration/site_migration.py
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: ensure WebHook log is commited
  press/api/github.py
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix: prevent TimestampMismatchError
  press/press/doctype/app_source/app_source.py
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix: remove save, causes ♾️ recursion
  press/press/doctype/app_source/app_source.py
Owners: none

fix: only show subscription invoices
  press/api/partner.py
Owners: none

fix: show sub only invoices
  dashboard/src2/components/partners/PartnerCustomerInvoices.vue
Owners: @breadgenie

fix: use db_update instead of save
  press/press/doctype/app_source/app_source.py
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix: show subsc invoice
  dashboard/src2/components/partners/PartnerCustomerInvoices.vue
  press/press/doctype/invoice/invoice.py
Owners: @breadgenie, @shadrak98

fix: add retry on TimestampMismatchError
  press/api/github.py
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix: use db_update if TimestampMismatchError
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none

fix(SiteDatabaseRestoreDialog): show warning
  dashboard/src2/components/SiteDatabaseRestoreDialog.vue
Owners: @breadgenie

fix(Bench): hint user to deploy first before trying to create a site
  dashboard/src2/components/ObjectList.vue
  dashboard/src2/objects/bench.js
  dashboard/src2/pages/ReleaseGroupBenchSites.vue
  press/press/doctype/release_group/release_group.py
Owners: @breadgenie

fix: poll github even on ts mismatch
  press/press/doctype/github_webhook_log/github_webhook_log.py
  press/utils/__init__.py
Owners: none

fix: check for invoice with duplicate stripe id
  press/press/doctype/invoice/invoice.py
Owners: @shadrak98

fix(SiteDatabase): use toast's own methods to show error
  dashboard/src2/objects/site.js
Owners: @breadgenie

fix: prevent NoneType attr error
  press/press/doctype/invoice/invoice.py
Owners: @shadrak98

fix: prevent ValueError toomany values
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix: prevent NoneType attr error
  press/press/doctype/build_cache_shell/build_cache_shell.py
Owners: none

fix(SiteBackupRestore): consider db files with duplicate numbering
  dashboard/src/components/BackupFilesUploader.vue
Owners: @breadgenie

style(Sites): fixed width for bench name
  dashboard/src2/objects/site.js
Owners: @breadgenie

fix: ensure upload step has correct status
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

style(Notifications): strip tags except bold to fix broken messages
  dashboard/src2/objects/notification.js
Owners: @breadgenie

style(Notifications): remove width for timestamp
  dashboard/src2/objects/notification.js
Owners: @breadgenie

fix: fix context slugs - ignore permission on status update - dont ignore version
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix: add UA for vite not found
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

fix(marketplace-app): delete approval requests on trash
  press/press/doctype/marketplace_app/marketplace_app.py
Owners: @breadgenie

fix: remove cringe, add TG and FC urls
  README.md
Owners: none

fix(press-tag): add perms for press admin/member
  press/press/doctype/press_tag/press_tag.json
Owners: none

fix(site): delete press role perms after archival
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: filter out current doc
  press/press/doctype/invoice/invoice.py
Owners: @shadrak98

chore: typo
  press/press/doctype/invoice/invoice.py
Owners: @shadrak98

fix: domains key might not exist in site_config
  press/press/doctype/site/site.py
Owners: @balamurali27

style(ClickToCopyField): better styled
  dashboard/src/components/ClickToCopyField.vue
  dashboard/src2/components/bench/SSHCertificateDialog.vue
Owners: @breadgenie

style(ClickToCopyField): wrap text
  dashboard/src/components/ClickToCopyField.vue
Owners: @breadgenie

fix(role-permissions): better error message
  press/press/doctype/press_role/press_role.py
Owners: none

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27
team/ @shadrak98

dashboard/ @breadgenie
invoice/ @shadrak98
marketplace* @breadgenie
stripe* @shadrak98
razorpay* @shadrak98
subscription/ @shadrak98

saas @rutwikhdev

deploy* @18alantom
press/Dockerfile @18alantom
