Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

fix(hardening): Enable gather_facts
  press/playbooks/harden.yml
Owners: @adityahase, @balamurali27

feat(ufw): Allow connections to docker0 for gunicorn metrics
  press/playbooks/roles/ufw/tasks/main.yml
Owners: @adityahase, @balamurali27

feat: Add playbook for configuring ufw
  press/playbooks/roles/ufw/tasks/main.yml
  press/playbooks/ufw.yml
Owners: @adityahase, @balamurali27

refactor(ufw): Add specific name for task
  press/playbooks/roles/ufw/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: Handle undefined variables
  press/playbooks/roles/ufw/tasks/main.yml
  press/playbooks/ufw.yml
Owners: @adityahase, @balamurali27

fix(ufw): Don't break app server
  press/playbooks/roles/ufw/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: Rename "Backup & Restore" tab to "Database"
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

fix: Show primary domain as site title
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteList.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

fix: Show "create" actions for VMs in Draft status
  press/press/doctype/virtual_machine/virtual_machine.js
Owners: none

fix: Store aws snapshot id for Virtual Machine Image
  press/press/doctype/virtual_machine_image/virtual_machine_image.json
  press/press/doctype/virtual_machine_image/virtual_machine_image.py
Owners: none

feat: Allow removing AMIs
  press/press/doctype/virtual_machine_image/virtual_machine_image.js
  press/press/doctype/virtual_machine_image/virtual_machine_image.py
Owners: none

feat: Store mariadb_root_password for DB server AMIs
  press/press/doctype/virtual_machine/virtual_machine.py
  press/press/doctype/virtual_machine_image/virtual_machine_image.json
  press/press/doctype/virtual_machine_image/virtual_machine_image.py
Owners: none

fix: Use UTC time to generate timestamp
  press/api/server.py
Owners: none

fix: Don't show usage details if prometheus doesn't useful data
  dashboard/src/views/server/ServerOverviewPlan.vue
  press/api/server.py
Owners: @NagariaHussain

fix: Servers created from machine images are ready to use
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

refactor: Make _setup_server smaller
  press/press/doctype/server/server.py
Owners: @adityahase

chore: YAML indentation
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
Owners: none

fix: Add 1GB swap to all servers by default
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
Owners: none

fix: Use cloud-init if renaming a server
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Use SSH Key DocType to setup user access
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Update SSHD config for SSH Hardening
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
Owners: none

fix: Setup SSH CA based auth
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
Owners: none

fix: Setup agent authentication
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Update statsd_exporter service
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Update filebeat config
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Update mariadb config
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Setup systemd memory limits for mariadb
  press/playbooks/roles/mariadb_systemd_limits/templates/memory.conf
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: @adityahase, @balamurali27

fix: Archive both servers in the pair at once
  press/api/server.py
Owners: none

fix: Prevent server creation if servers_enabled feature flag isn't set
  press/api/server.py
Owners: none

fix: Hide charts if analytics data is missing
  dashboard/src/views/server/ServerAnalytics.vue
Owners: @NagariaHussain

chore: Replace window.location.href with router.replace
  dashboard/src/views/bench/Benches.vue
  dashboard/src/views/site/Sites.vue
Owners: @NagariaHussain

fix: Show billing details dialog before adding new servers
  dashboard/src/views/server/Servers.vue
Owners: @NagariaHussain

fix: Show search bar for servers
  dashboard/src/components/SiteAndBenchSearch.vue
  dashboard/src/views/server/Servers.vue
  press/api/server.py
Owners: @NagariaHussain

fix: Instance is terminated if EC2 api can't find it
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Convert to local time before showing charts
  press/api/server.py
Owners: none

fix: Show duration dropdown on left
  dashboard/src/views/server/ServerAnalytics.vue
Owners: @NagariaHussain

fix: Show placeholder only when there's no analytics data to show
  dashboard/src/views/server/ServerAnalytics.vue
Owners: @NagariaHussain

fix: Remove virtual devices from network and storage analytics
  press/api/server.py
Owners: none

feat: Copy image to another EC2 region
  press/press/doctype/virtual_machine_image/virtual_machine_image.js
  press/press/doctype/virtual_machine_image/virtual_machine_image.json
  press/press/doctype/virtual_machine_image/virtual_machine_image.py
Owners: none

style: Format to avoid using =
  press/playbooks/roles/fail2ban/tasks/mail.yml
  press/playbooks/whitelist_ipaddress.yml
Owners: @adityahase, @balamurali27
