Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

feat: Resize action for Virtual Machine
  press/press/doctype/virtual_machine/virtual_machine.js
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

feat: Memory Used chart in Server Analytics
  dashboard/src/views/server/ServerAnalytics.vue
  press/api/server.py
Owners: @NagariaHussain

fix: Prettier values in Server Analytics tooltips
  dashboard/src/views/server/ServerAnalytics.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Add duration control in Server Analytics
  dashboard/src/views/server/ServerAnalytics.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Info card in Server Overview tab
  dashboard/src/views/server/ServerOverview.vue
  dashboard/src/views/server/ServerOverviewInfo.vue
Owners: @NagariaHussain

feat: Drop Server component
  dashboard/src/views/server/ServerDrop.vue
Owners: @NagariaHussain

feat: Plan card in Server Overview tab
  dashboard/src/views/server/ServerOverview.vue
  dashboard/src/views/server/ServerOverviewPlan.vue
Owners: @NagariaHussain

feat: Add Change Plan button
  dashboard/src/views/server/ServerOverviewPlan.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Show Server usage (CPU + Memory + Storage)
  dashboard/src/views/server/ServerOverviewPlan.vue
  press/api/server.py
Owners: @NagariaHussain

feat: New Bench button in Server Vue
  dashboard/src/views/server/Server.vue
Owners: @NagariaHussain

fix: Set naming fields in Virtual Machine
  press/patches.txt
  press/press/doctype/virtual_machine/patches/set_naming_fields.py
Owners: none

chore: Add missing requirement
  requirements.txt
Owners: none

fix: Set current index for naming series based on existing machines
  press/patches.txt
  press/press/doctype/virtual_machine/patches/set_virtual_machine_naming_series.py
Owners: none

fix: Typo
  press/press/doctype/virtual_machine/patches/set_virtual_machine_naming_series.py
Owners: none

fix: Set human readable names for Virtual Machines
  press/patches.txt
  press/press/doctype/virtual_machine/patches/rename_virtual_machines.py
Owners: none

chore: Replace Saas App with Marketplace App in Signup Website Generators
  press/saas/doctype/saas_setup_account_generator/saas_setup_account_generator.py
  press/saas/doctype/saas_signup_generator/saas_signup_generator.py
Owners: @rutwikhdev

fix: Show app title in setup_account_generator(lead collection) template
  press/templates/saas/setup-account.html
Owners: @rutwikhdev

feat: Rename Server
  press/playbooks/rename.yml
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27

feat: Drop inconsequential tasks for faster rename play
  press/playbooks/rename.yml
  press/playbooks/roles/agent_rename/tasks/main.yml
  press/playbooks/roles/filebeat_rename/tasks/main.yml
  press/playbooks/roles/statsd_exporter_rename/tasks/main.yml
  press/playbooks/roles/user_ssh_certificate_rename/tasks/main.yml
Owners: @adityahase, @balamurali27

feat: Rename Database Server
  press/playbooks/database_rename.yml
  press/playbooks/roles/deadlock_logger_rename/tasks/main.yml
  press/playbooks/roles/mariadb_rename/tasks/main.yml
  press/playbooks/roles/mysqld_exporter_rename/tasks/main.yml
  press/press/doctype/database_server/database_server.py
Owners: @adityahase, @balamurali27

feat: Track whether a server is already renamed
  press/press/doctype/database_server/database_server.json
  press/press/doctype/database_server/database_server.py
  press/press/doctype/server/server.json
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Track whether a server is already prepared
  press/press/doctype/database_server/database_server.js
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Archive Server
  press/api/server.py
  press/press/doctype/database_server/database_server.js
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Don't attempt Route53 requests after terminating a virtual machine
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Method to sync all Virtual Machines
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

feat: Remote Login from site to Frappe Cloud Dashbaord
  dashboard/src/views/saas/RemoteLoginSuccess.vue
  press/api/developer/marketplace.py
  press/api/marketplace.py
Owners: @rutwikhdev

feat: Set site_config keys login_url and expiry for trial signups
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

feat(ui): Improved styling for signup forms and broke down the first form in 2 steps
  press/templates/saas/layout.html
  press/templates/saas/setup-account.html
  press/templates/saas/signup.html
  press/www/prepare-site.html
Owners: @rutwikhdev

chore: Set trial_expiry and login url in site config while signup
  press/api/saas.py
Owners: none

chore(ui): Fixed styling
  press/templates/saas/signup.html
Owners: @rutwikhdev

feat: Add title field in server doctypes
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerList.vue
  press/api/server.py
  press/press/doctype/database_server/database_server.json
  press/press/doctype/server/server.json
Owners: @NagariaHussain, @adityahase

feat: Resize Virtual Machine on changing Sever Plan
  press/api/server.py
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Added update subscription hook
  press/api/developer/marketplace.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
  press/press/doctype/marketplace_app/marketplace_app.json
Owners: @NagariaHussain

fix(storage-integration): Add permission to delete/clear files from s3
  press/press/doctype/storage_integration_subscription/storage_integration_subscription.py
Owners: none

chore: Refactored frappe.call for signups
  press/templates/saas/signup.html
Owners: @rutwikhdev

chore: Update HRMS logo and styling fixes
  press/public/images/signup/hrms.png
  press/templates/saas/layout.html
  press/templates/saas_signup_layout.html
Owners: @rutwikhdev

fix: Typo
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

chore: Deprecate hardcoded erpnext signup templates
  press/press/doctype/account_request/account_request.py
Owners: none

chore: Workspace settings enable hook for hr
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

fix: Set trail end date from site doc
  press/api/saas.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
