Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @shadrak98, @breadgenie, @rutwikhdev, @18alantom

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27
team/ @shadrak98

dashboard/ @breadgenie
invoice/ @shadrak98
marketplace* @breadgenie
stripe* @shadrak98
razorpay* @shadrak98
subscription/ @shadrak98

saas @rutwikhdev

deploy* @18alantom
press/Dockerfile @18alantom

chore: remove more magic redirect logic
  dashboard/src/components/Sidebar.vue
Owners: @breadgenie

chore: remove old dashboard remnants
  dashboard/package.json
  press/hooks.py
  press/press/doctype/account_request/account_request.py
Owners: @breadgenie

test(role-permissions): set user as admin before delete
  press/press/doctype/press_role/test_press_role.py
Owners: none

fix: add handler for module not found
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

fix: add handler for satisfactory dist not found
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

fix: remove old dashboard remnants
  dashboard/dashboard.html
  dashboard/vite.config.ts
Owners: @breadgenie

fix: html path
  dashboard/package.json
Owners: @breadgenie

fix: load script fromr src2
  dashboard/index.html
Owners: @breadgenie

feat(telegram): Add messages to queue using enqueue
  press/press/doctype/telegram_message/telegram_message.py
  press/press/doctype/telegram_message/test_telegram_message.py
Owners: none

fix(role-permissions): correct fields
  press/api/account.py
Owners: none

fix(telegram): Send one message at a time and log error
  press/press/doctype/telegram_message/telegram_message.json
  press/press/doctype/telegram_message/telegram_message.py
  press/press/doctype/telegram_message/test_telegram_message.py
Owners: none

fix(telegram): Send high priority, oldest messages first
  press/press/doctype/telegram_message/telegram_message.py
  press/press/doctype/telegram_message/test_telegram_message.py
Owners: none

fix(telegram): Retry a few times in case of TimeOut/Network errors
  press/press/doctype/telegram_message/telegram_message.json
  press/press/doctype/telegram_message/telegram_message.py
  press/press/doctype/telegram_message/test_telegram_message.py
Owners: none

fix(telegram): If rate-limited, retry after sometime
  press/press/doctype/telegram_message/telegram_message.py
  press/press/doctype/telegram_message/test_telegram_message.py
Owners: none

fix(telegram): Don't log errors with log_error
  press/press/doctype/telegram_message/telegram_message.py
  press/telegram_utils.py
Owners: none

fix(telegram): Set topic and group on TelegramMessage
  press/press/doctype/telegram_message/telegram_message.py
  press/telegram_utils.py
Owners: none

fix(telegram): Send messages every few seconds
  press/hooks.py
Owners: none

fix(telegram): Remove unnecessary fields
  press/press/doctype/telegram_message/telegram_message.json
  press/press/doctype/telegram_message/telegram_message.py
Owners: none

fix(telegram): Use Telegram Message instead of directly sending messages
  press/press/doctype/alertmanager_webhook_log/alertmanager_webhook_log.py
  press/press/doctype/audit_log/audit_log.py
  press/press/doctype/malware_scan/malware_scan.py
  press/press/doctype/payment_dispute/payment_dispute.py
  press/press/doctype/press_settings/press_settings.py
  press/press/doctype/security_update_check/security_update_check.py
  press/press/doctype/team/team.py
Owners: @shadrak98

fix: don't recompute team
  press/api/site.py
Owners: @balamurali27

fix: don't enqueue invoices individually
  press/press/doctype/razorpay_payment_record/razorpay_payment_record.py
  press/press/doctype/team/team.py
Owners: @shadrak98

fix: add handler for 2 Vue error failures
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

fix: add handler for ImportError
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

fix: add step for pre-build validations - refactor add pre build steps
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix: wrap type guarded type in dq
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

fix: add banner about permissions
  dashboard/src2/components/AlertBanner.vue
  dashboard/src2/components/settings/RoleList.vue
  dashboard/src2/router.js
Owners: @breadgenie

feat: make dashboard-beta default (#1661)
  .gitignore
  dashboard/components.d.ts
  dashboard/dashboard-beta.html
  dashboard/index.html
  dashboard/package.json
  dashboard/src/components/Sidebar.vue
  dashboard/src/components/TryNewDashboardButton.vue
  dashboard/src/router/index.js
  dashboard/src/views/site/SiteAppsAndSubscriptions.vue
  dashboard/src2/components/AlertBanner.vue
  dashboard/src2/components/AppSidebar.vue
  dashboard/src2/components/settings/RoleList.vue
  dashboard/src2/data/team.js
  dashboard/src2/objects/server.js
  dashboard/src2/pages/LoginSignup.vue
  dashboard/src2/pages/SetupAccount.vue
  dashboard/src2/router.js
  dashboard/vite.config.ts
  dashboard/yarn.lock
  press/api/google.py
  press/hooks.py
  press/press/doctype/account_request/account_request.py
  press/press/doctype/marketplace_app/marketplace_app.js
  press/press/doctype/site/site.py
  press/press/doctype/team/team.json
  press/press/doctype/team/team.py
  press/templates/emails/suspended_sites.html
  press/www/dashboard.py
  press/www/dashboard_old.py
  press/www/saas/subscription.js
Owners: @breadgenie, @balamurali27, @shadrak98, @rutwikhdev

chore: Pin requests<2.32
  requirements.txt
Owners: none

fix(InstallApp): add disclaimer for when install app isn't possible
  dashboard/src2/pages/InstallApp.vue
Owners: @breadgenie

fix(SiteCharts): Pass correct timestamps to ES
  press/api/analytics.py
Owners: none

chore: add debug locally URL
  press/press/doctype/deploy_candidate/deploy_candidate.py
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

fix: always check country to set currency
  press/press/doctype/team/team.py
Owners: @shadrak98

fix: pending duration measurement
  press/press/doctype/deploy_candidate/deploy_candidate.json
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

refactor: rename variable - from is_docker_remote_builder_used - to is_remote_builder_used
  press/press/doctype/deploy_candidate/deploy_candidate.json
  press/press/doctype/deploy_candidate/deploy_candidate.py
  press/press/doctype/deploy_candidate/docker_output_parsers.py
Owners: @18alantom

chore: remove docker_remote_builder_ssh
  press/press/doctype/deploy_candidate/deploy_candidate.py
  press/press/doctype/press_settings/press_settings.json
  press/press/doctype/press_settings/press_settings.py
Owners: @18alantom

refactor: rename variable - from docker_remote_builder_server - to remote_build_server
  press/press/doctype/deploy_candidate/deploy_candidate.json
  press/press/doctype/deploy_candidate/deploy_candidate.py
  press/press/doctype/press_settings/press_settings.json
  press/press/doctype/press_settings/press_settings.py
  press/press/doctype/release_group/release_group.json
  press/press/doctype/release_group/release_group.py
  press/press/doctype/server/server.py
Owners: @18alantom, @adityahase

fix(LinkControl): globally save selectedOption
  dashboard/src2/components/LinkControl.vue
Owners: @breadgenie

refactor(LinkControl): better var name
  dashboard/src2/components/LinkControl.vue
Owners: @breadgenie

fix: bug, add optional end_time None
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix(Team): set current team only if it's valid team
  dashboard/src2/data/team.js
Owners: @breadgenie
