Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

fix: Remove team field from Stripe Payment Method
  press/patches.txt
  press/press/doctype/stripe_payment_method/patches/drop_team_field.py
  press/press/doctype/stripe_payment_method/stripe_payment_method.json
Owners: @NagariaHussain

fix: Server autonaming
  press/press/doctype/server/server.py
Owners: @adityahase

chore: Remove SSH Users and Port args in Ansible runner
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Upload creenshots from dashboard for marketplace
  dashboard/src/components/MarketplaceAppScreenshots.vue
  dashboard/src/views/marketplace/MarketplaceAppOverview.vue
  press/api/marketplace.py
Owners: @NagariaHussain

chore: Add UK to us/eu region
  press/press/doctype/team/team.py
Owners: none

feat: Change notification email
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteActivity.vue
  press/api/site.py
  press/press/doctype/server/server.py
Owners: @NagariaHussain, @balamurali27, @adityahase

chore: If notify email and current team is same don't ask for login reason
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

chore: copy changes from old dockerfile
  press/docker/Dockerfile_Bench_5_15_2
Owners: none

whitelabeling
  dashboard/index.html
  dashboard/src/components/AppSubscriptionSummary.vue
  dashboard/src/components/Feedback.vue
  dashboard/src/components/PrepaidCreditsDialog.vue
  dashboard/src/components/marketplace/PublisherPayoutInfoCard.vue
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/bench/Benches.vue
  dashboard/src/views/marketplace/Marketplace.vue
  dashboard/src/views/marketplace/NewMarketplaceApp.vue
  dashboard/src/views/onboarding/Welcome.vue
  dashboard/src/views/server/NewServer.vue
  dashboard/src/views/server/Server.vue
  dashboard/src/views/settings/AccountAPI.vue
  dashboard/src/views/settings/AccountReferral.vue
  dashboard/src/views/settings/AccountSettings.vue
  dashboard/src/views/site/NewSite.vue
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteOverview.vue
  dashboard/src/views/site/Sites.vue
Owners: @NagariaHussain

branding
  dashboard/index.html
  dashboard/public/robots.txt
  dashboard/src/assets/logo.webp
  dashboard/src/assets/nextash-logo.png
  dashboard/src/assets/style.css
  dashboard/src/components/FrappeCloudLogo.vue
  dashboard/src/components/FrappeCloudLogoFull.vue
  dashboard/src/components/Navbar.vue
  dashboard/src/components/Sidebar.vue
  dashboard/src/views/partials/LoginBox.vue
  press/public/images/logo.png
  press/public/images/logo.webp
  press/public/images/nextash-logo.png
Owners: @NagariaHussain

fix: server links
  press/playbooks/roles/warning_banners/files/issue.j2
  press/playbooks/roles/warning_banners/files/motd.j2
Owners: @adityahase, @balamurali27

fix: Allow signups from localhost
  press/press/doctype/account_request/account_request.py
Owners: none

fix: Allow rerunning bootstrap script
  press/bootstrap.py
Owners: none

fix: Set PressSettings.stripe_publishable_key
  press/bootstrap.py
Owners: none

fix: All Server types don't have is_self_hosted field
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Bench is no longer needed on app servers
  press/playbooks/roles/bench/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: Remove old containers before starting registry
  press/playbooks/roles/registry/tasks/main.yml
Owners: @adityahase, @balamurali27

style: quotes
  press/playbooks/roles/registry/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: Setup default team and apps while bootstrapping
  press/bootstrap.py
Owners: none

chore: Email template for marketplace auto review
  press/press/doctype/marketplace_app/marketplace_app.json
  press/templates/emails/marketplace_auto_review.html
Owners: none

fix: Setup plans while bootstrapping
  press/bootstrap.py
Owners: none

fix: Show stored DB Access credentials
  press/press/doctype/site/site.py
Owners: @balamurali27

chore: Add missing requirement
  requirements.txt
Owners: none

fix: Wait for Undelivered agent jobs
  dashboard/src/views/site/DatabaseAccessDialog.vue
Owners: @NagariaHussain

feat: Create/Revoke credentials for Database Access
  press/agent.py
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Store DB Access credentials in Site
  press/press/doctype/site/site.json
Owners: @balamurali27

fix: Set database access credentials for existing sites
  press/patches.txt
  press/press/doctype/site/patches/set_database_access_credentials.py
Owners: @balamurali27

fixes
  press/press/doctype/account_request/account_request.py
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: none

fixes
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: none

fixes
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: none

revert
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: none

fix
  press/press/doctype/ssh_certificate_authority/ssh_certificate_authority.py
Owners: @adityahase

fix
  press/press/doctype/ssh_certificate_authority/ssh_certificate_authority.py
Owners: @adityahase

fix
  press/press/doctype/ssh_certificate_authority/ssh_certificate_authority.py
Owners: @adityahase

fix
  press/press/doctype/ssh_certificate_authority/ssh_certificate_authority.py
Owners: @adityahase

revert
  press/press/doctype/ssh_certificate_authority/ssh_certificate_authority.py
Owners: @adityahase

fix: patch pathname
  press/patches.txt
Owners: none

fixes
  press/press/doctype/team/team.py
Owners: none

temp change for this and previous commit
  press/press/doctype/stripe_payment_method/stripe_payment_method.py
Owners: @NagariaHussain

revert
  press/press/doctype/stripe_payment_method/stripe_payment_method.py
  press/press/doctype/team/team.py
Owners: @NagariaHussain
