Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

feat(Server): Add button to update tls certificate
  press/press/doctype/database_server/database_server.js
  press/press/doctype/proxy_server/proxy_server.js
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase

fix(Bench): Don't archive bench if update is ongoing from it
  press/press/doctype/bench/bench.py
Owners: none

feat: Added black and flake formatting for github workflows
  .github/workflows/formatting.yml
Owners: none

fix: Directory path
  .github/workflows/formatting.yml
Owners: none

build: Added tailwind config for saas templates
  package.json
  press/templates/saas/billing_layout.html
  press/templates/saas/tailwind.config.js
Owners: @rutwikhdev

refactor: Styling css -> tailwind
  press/www/saas/billing.html
Owners: @rutwikhdev

fix: Update conf and key
  press/www/saas/billing.js
Owners: @rutwikhdev

fix: validate ongoing jobs before archiving
  press/press/doctype/bench/bench.py
Owners: none

fix: check for subdomains blocked for all root domains
  press/api/saas.py
Owners: none

fix: disable activate btn for archived sites
  press/press/doctype/site/site.js
Owners: @balamurali27

fix: Use integer as argument instead of 'monthly' and 'annual'
  press/api/developer/marketplace.py
Owners: none

refactor: Move html to macros file
  press/templates/saas/macros.html
  press/www/saas/billing.html
Owners: @rutwikhdev

style: Prettier
  press/templates/saas/macros.html
  press/www/saas/billing.html
Owners: @rutwikhdev

chore: Redirect from address to checkout screen
  press/templates/saas/macros.html
  press/www/saas/billing.html
Owners: @rutwikhdev

chore: Added svgs for success and error macro cards
  press/templates/saas/macros.html
Owners: @rutwikhdev

feat: Add playbook for setting arbitrary mysqld variable
  press/playbooks/mysqld_variable.yml
  press/playbooks/roles/mysqld_variable/tasks/main.yml
Owners: @adityahase, @balamurali27

chore(Server): Whitelist Change Plan method
  press/press/doctype/server/server.py
Owners: @adityahase

fix: padding and border-radius
  press/templates/saas/layout.html
Owners: @rutwikhdev

chore: Unsuspend sites only after all invoices are unpaid
  press/press/doctype/invoice/invoice.py
  press/press/doctype/stripe_payment_event/stripe_payment_event.py
Owners: @NagariaHussain

style: Flake8
  press/api/developer/marketplace.py
Owners: none

feat: daily backup summary in backup audits
  press/press/audit.py
Owners: none

fix: Don't add partner discount if it's already added
  press/press/doctype/invoice/invoice.py
  press/press/doctype/invoice_discount/invoice_discount.json
Owners: @NagariaHussain

revert: Use gthread worker type for gunicorn
  press/docker/config/supervisor.conf
Owners: none

fix: Allow unpaid invoice for running month
  press/press/doctype/invoice/invoice.py
  press/press/doctype/stripe_payment_event/stripe_payment_event.py
Owners: @NagariaHussain

chore: Update connection link doctype (Marketplace App Subscription)
  press/press/doctype/site/site.json
Owners: @balamurali27

chore: Ignore duplicate entries for Mail Log
  press/api/email.py
Owners: none

fix: Download ChromeDriver
  press/sanity.py
Owners: none

perf: Use frappe.get_all instead of frappe.db.exists to remove default order_by clause
  press/press/doctype/bench/bench.py
Owners: none

feat: allow to skip backups during site update
  dashboard/src/components/AlertSiteUpdate.vue
  press/agent.py
  press/press/doctype/site/site.py
  press/press/doctype/site_update/site_update.json
  press/press/doctype/site_update/site_update.py
Owners: @NagariaHussain, @balamurali27

chore: revert https://github.com/frappe/press/commit/094188fed99de98abc9ca2a39c1bfc487e952247
  press/api/email.py
Owners: none

fix(email): Use host_name instead or site name
  press/api/email.py
Owners: none

chore: Use site filter for subscription
  press/api/developer/marketplace.py
Owners: none

feat: Run after install/uninstall scripts for marketplace apps
  press/press/doctype/marketplace_app/marketplace_app.json
  press/press/doctype/marketplace_app/marketplace_app.py
  press/press/doctype/site/site.py
Owners: @balamurali27

chore: Setup a context manager for handling authenticated requests for saas in-site billing
  press/api/developer/marketplace.py
Owners: none

chore: Deprecate login_url feature and minor fixes
  press/api/developer/marketplace.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
  press/press/doctype/press_settings/press_settings.json
  press/www/saas/billing.html
Owners: @NagariaHussain, @rutwikhdev

refactor: Marketplace Consumption logic
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.json
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
  press/press/doctype/invoice/invoice.json
Owners: @NagariaHussain

fix: Typo
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
Owners: @NagariaHussain

fix: Show credit balance history to users with Free Credits as well
  press/api/billing.py
Owners: none

fix(SitePlanChange): Give Site Manager create perms
  press/press/doctype/site_plan_change/site_plan_change.json
Owners: @balamurali27

fix(SitePlanChange): Give read/write access to Site Manager
  press/press/doctype/site_plan_change/site_plan_change.json
Owners: @balamurali27
