Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

chore: Subscribe btn (primary -> secondary)
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

fix: Show hash instead of timestamp if timestamp not available
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

chore: Show bench status in list
  dashboard/src/views/bench/BenchList.vue
  press/api/bench.py
Owners: @NagariaHussain

refactor: Remove site-activity tab and move the component it under site-overview
  dashboard/src/router/site.js
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteActivity.vue
  dashboard/src/views/site/SiteOverview.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

chore: Remove `flex-1`
  dashboard/src/views/bench/Bench.vue
Owners: @NagariaHussain

fix: make fields hashable for caching
  press/api/bench.py
Owners: none

fix: validate version upgrade before insert
  press/press/doctype/version_upgrade/version_upgrade.py
Owners: none

fix(AppReleaseDifference): Throw proper error when can't fetch app
  press/press/doctype/app_release_difference/app_release_difference.py
Owners: none

fix: update state code for Daman and Diu
  press/utils/billing.py
Owners: none

updated bench
  press/docker/Dockerfile-Bench-Update
Owners: none

update bench; default to old dockerfile
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: none

chore(deps): Added headless-vue, fuse
  dashboard/package.json
  dashboard/yarn.lock
Owners: @NagariaHussain

feat: Added new search in sidebar and removed the old
  dashboard/src/components/SiteAndBenchSearch.vue
  dashboard/src/views/bench/Benches.vue
  dashboard/src/views/saas/Sidebar.vue
  dashboard/src/views/server/Servers.vue
  dashboard/src/views/site/Sites.vue
  press/api/account.py
  press/api/bench.py
  press/api/server.py
  press/api/site.py
Owners: @NagariaHussain, @rutwikhdev, @balamurali27

fix: Benches route and prettier
  dashboard/src/views/saas/Sidebar.vue
  dashboard/src/views/server/Servers.vue
  dashboard/src/views/site/Sites.vue
Owners: @rutwikhdev, @NagariaHussain

feat: Site Replication
  press/press/doctype/backup_restoration_test/backup_restoration_test.py
  press/press/doctype/site/site.py
  press/press/doctype/site_replication/__init__.py
  press/press/doctype/site_replication/site_replication.js
  press/press/doctype/site_replication/site_replication.json
  press/press/doctype/site_replication/site_replication.py
  press/press/doctype/site_replication/test_site_replication.py
Owners: @balamurali27

chore: Add all sites section header
  dashboard/src/views/site/Sites.vue
Owners: @NagariaHussain

style: Prettier
  dashboard/src/views/server/Servers.vue
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

chore: Styling
  dashboard/src/views/saas/Sidebar.vue
Owners: @rutwikhdev

Fix: Broken height and links
  dashboard/src/views/saas/Sidebar.vue
  dashboard/src/views/site/SiteActivity.vue
Owners: @rutwikhdev, @NagariaHussain

feat: Add command palette
  dashboard/src/components/CommandPalette.vue
Owners: @NagariaHussain

fix: Prefix for 1 day/month/year
  dashboard/src/utils/dayjs.js
Owners: @NagariaHussain

default to bench 5.2.1's dockerfile
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: none

fix: Close palette on escape
  dashboard/src/views/saas/Sidebar.vue
Owners: @rutwikhdev

feat: moved prepare_site method to site.py
  press/hooks.py
  press/press/doctype/site/site.py
  press/press/doctype/site_replication/site_replication.json
  press/press/doctype/site_replication/site_replication.py
Owners: @balamurali27

max-concurrent-downloads in daemon.json
  press/playbooks/roles/docker/templates/daemon.json
Owners: @adityahase, @balamurali27

feat: filter active sites
  press/press/doctype/site/site.py
  press/press/doctype/site_replication/site_replication.js
Owners: @balamurali27

add playbook for docker eof update
  press/playbooks/docker_eof_update.yml
  press/playbooks/roles/docker_eof_update/tasks/main.yml
  press/playbooks/roles/docker_eof_update/templates/daemon.json
Owners: @adityahase, @balamurali27

fix(minor): save doc after updating status
  press/press/doctype/site_replication/site_replication.py
Owners: @balamurali27

refactor: Move dropdownItems to data declaration
  dashboard/src/views/saas/Sidebar.vue
Owners: @rutwikhdev

rename docker file
  press/docker/Dockerfile_Bench_5_15_2
Owners: none

fix: filter out self doc and add new site as link field
  press/press/doctype/site/site.py
  press/press/doctype/site_replication/site_replication.json
  press/press/doctype/site_replication/site_replication.py
Owners: @balamurali27

chore: added custom button on site doc
  press/press/doctype/site/site.js
  press/press/doctype/site_replication/site_replication.py
Owners: @balamurali27

fix: Broken max-width
  dashboard/src/views/general/StepsDetail.vue
Owners: @NagariaHussain

cleanup: Remove unused code
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: Monitor Press Server with Prometheus
  press/bootstrap.py
  press/patches.txt
  press/playbooks/roles/prometheus/tasks/main.yml
  press/playbooks/roles/prometheus/templates/press.yml
  press/playbooks/roles/prometheus/templates/prometheus.yml
  press/playbooks/roles/reconfigure_prometheus/tasks/main.yml
  press/press/doctype/monitor_server/monitor_server.py
  press/press/doctype/press_settings/patches/set_press_monitoring_password.py
  press/press/doctype/press_settings/press_settings.json
Owners: @adityahase, @balamurali27

chore: Update ubuntu image for local setup
  backbone/packer/backbone.json
Owners: @adityahase

chore: Daily audit for unbilled subscriptions
  press/hooks.py
  press/press/audit.py
  press/press/doctype/audit_log/audit_log.json
  press/press/doctype/subscription/subscription.py
Owners: none

fix: Allow guests to access fuse_list api method
  press/api/account.py
Owners: none

fix: Show sidebar only on login and revert https://github.com/frappe/press/commit/9935138dc28b4dcdec3b5d8ffba97b907b4fca34
  dashboard/src/App.vue
  press/api/account.py
Owners: @NagariaHussain

change name of playbook
  press/playbooks/docker_eof_update.yml
Owners: @adityahase, @balamurali27
