Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

fix: Site auto update loading indicator size
  dashboard/src/views/site/SiteOverviewInfo.vue
Owners: @NagariaHussain

fix: Fixture JSON for press job type
  press/fixtures/press_job_type.json
Owners: none

refactor: Create core tab breaks in `Press Settings` form
  press/press/doctype/press_settings/press_settings.json
Owners: none

refactor: Namespace keys for subscription management
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

cleanup: Remove print statements
  press/api/site.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @balamurali27, @NagariaHussain

refactor: Separate tab for 'Infrastructure'
  press/press/doctype/press_settings/press_settings.json
Owners: none

refactor: First section in tabs is uncollapsible
  press/press/doctype/press_settings/press_settings.json
Owners: none

refactor: Move agents section to Infrastructure tab
  press/press/doctype/press_settings/press_settings.json
Owners: none

refactor: Separate tab for 'Infrastructure'
  press/press/doctype/press_settings/press_settings.json
Owners: none

refactor: First section in tabs is uncollapsible
  press/press/doctype/press_settings/press_settings.json
Owners: none

refactor: Create core tab breaks in `Press Settings` form
  press/press/doctype/press_settings/press_settings.json
Owners: none

refactor: Move agents section to Infrastructure tab
  press/press/doctype/press_settings/press_settings.json
Owners: none

fix: Check if user exists while saas signup
  press/api/saas.py
Owners: none

fix: check domain with subdomain
  dashboard/src/views/site/NewSiteHostname.vue
  press/api/site.py
  press/press/doctype/site/site.py
Owners: @NagariaHussain, @balamurali27

fix: Syntax error
  dashboard/src/views/site/NewSiteHostname.vue
Owners: @NagariaHussain

fix: Use press.api. endpoints for renaming bench
  dashboard/src/views/bench/BenchOverviewInfo.vue
  press/api/bench.py
Owners: @NagariaHussain

fix: Treat sentry server the same as other servers
  press/api/monitoring.py
  press/press/doctype/alertmanager_webhook_log/alertmanager_webhook_log.py
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: none

feat: Archive Server job
  press/fixtures/press_job_type.json
Owners: none

feat: Server Snapshot job
  press/fixtures/press_job_type.json
Owners: none

chore: Set title in bootstrapped servers
  press/bootstrap.py
Owners: none

revert: https://github.com/frappe/press/pull/420
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(ui): Padding on signup templates
  press/templates/saas/layout.html
  press/templates/saas/signup.html
Owners: @rutwikhdev

fix: Showing `Add Balance` button at all times
  dashboard/src/views/billing/AccountBillingUsage.vue
Owners: @NagariaHussain

chore: Update subscription.expiry key on plan change
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
  press/press/doctype/site/site.py
Owners: @NagariaHussain, @balamurali27

feat: Add Server and VM links to Press Job
  press/press/doctype/press_job/press_job.json
  press/press/doctype/press_job_step/press_job_step.py
Owners: none

fix: Create server doesn't require proxy and database server
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Server creation shouldn't depend on proxy and database
  press/press/doctype/server/server.json
Owners: @adityahase

fix: Don't automatically provision VIrtual Machine on insert
  press/press/doctype/virtual_machine/virtual_machine.js
  press/press/doctype/virtual_machine/virtual_machine.json
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Virtual Machine may not be provisioned when Server is created
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Create VM and Server documents as soon as possible
  press/api/server.py
  press/fixtures/press_job_type.json
  press/press/doctype/server/server.py
Owners: @adityahase

fix[security]: Replace secret_key generation with frappe.generate_hash()
  press/api/developer/marketplace.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
  press/press/doctype/storage_integration_subscription/storage_integration_subscription.py
  press/saas/doctype/saas_app_subscription/saas_app_subscription.py
Owners: @NagariaHussain, @rutwikhdev

fix[ui]: Style
  press/templates/saas/layout.html
  press/templates/saas/setup-account.html
Owners: @rutwikhdev

cleanup: Remove unused imports
  press/press/doctype/storage_integration_subscription/storage_integration_subscription.py
Owners: none

fix: Define success and failure states for wait_for_true steps
  press/fixtures/press_job_type.json
  press/press/doctype/press_job_step/press_job_step.py
Owners: none

feat: Publish realtime updates for Press Jobs
  press/press/doctype/press_job/press_job.py
Owners: none

feat: Server Install UI to wait for server setup
  dashboard/src/router/server.js
  dashboard/src/views/server/NewServer.vue
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerInstall.vue
  press/api/server.py
Owners: @NagariaHussain

revert: Don't discount monthly plans
  press/press/doctype/marketplace_app/marketplace_app.py
Owners: none

style: Prettier
  press/templates/saas/signup.html
Owners: @rutwikhdev

feat: New `is_default` field in User SSH Key dt
  press/press/doctype/user_ssh_key/user_ssh_key.json
Owners: none

feat: Let users add multiple SSH Keys
  dashboard/src/views/settings/AccountSSHKey.vue
Owners: @NagariaHussain

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
