Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

fix: Typo in filename
  press/playbooks/roles/fail2ban/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: cpu usage can sometimes be zero
  dashboard/src/views/server/ServerOverviewPlan.vue
Owners: @NagariaHussain

style: Format to avoid using =
  press/playbooks/roles/fail2ban/handlers/main.yml
Owners: @adityahase, @balamurali27

fix: Get jail.conf from remote source itself
  press/playbooks/roles/fail2ban/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: Remove unnecessary steps from Create Server job
  press/fixtures/press_job_type.json
Owners: none

fix: Show same metrics on plan overview and analytics tab
  press/api/server.py
Owners: none

fix: Skip plan selection step for new sites on private servers
  dashboard/src/views/site/NewSite.vue
Owners: @NagariaHussain

fix: Selected app plan should be an object
  dashboard/src/views/site/NewSite.vue
Owners: @NagariaHussain

fix: Don't show limits for sites on private servers
  dashboard/src/views/site/SiteOverviewPlan.vue
Owners: @NagariaHussain

perf: Don't gather ansible facts
  press/playbooks/whitelist_ipaddress.yml
Owners: @adityahase, @balamurali27

fix: Run separate job for polling pending jobs from each server
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: typo
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: frappe.enqueue just passes on the **kwags as it is
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: No need to pass on server.count
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: Use random.sample instead of random.choices
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: return early if there's nothing to do
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: Mark old stuck agent jobs as failed
  press/hooks.py
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: Mark old undelivered agent jobs as Undelivered
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: Restore old keys while adding saas keys to site config
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

perf: Don't gather facts before setting memory limits
  press/playbooks/server_memory_limits.yml
Owners: @adityahase, @balamurali27

compose
  docker/docker-compose.yml
Owners: none

env example
  docker/.env_example
Owners: none

init script for container
  docker/init/init.sh
Owners: none

fix: Use standard burst mode for t3 machine types
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

chore: Move scale_workers to server.py
  press/hooks.py
  press/press/doctype/bench/bench.py
  press/press/doctype/bench/test_bench.py
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Move "new" worker allocation logic to server.py
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Install EarlyOOM on app servers
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
Owners: none

fix: Set server.ram while creating and resizing server
  press/api/server.py
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Keep smaller reserves on low memory servers
  press/press/doctype/server/server.py
Owners: @adityahase

perf: Show first 100 benches in versions tab
  press/api/bench.py
Owners: none

fix: Deploy might not have benches linked in child table
  press/api/bench.py
Owners: none

fix: Don't drop servers with sites and benches
  press/api/server.py
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Add link from desk to the dashboard
  press/press/doctype/database_server/database_server.js
  press/press/doctype/server/server.js
Owners: @adityahase

fix: Set server.ram immediately before changing plan
  press/press/doctype/server/server.py
Owners: @adityahase

feat: added fail2ban for proxy server
  press/press/doctype/proxy_server/proxy_server.js
  press/press/doctype/proxy_server/proxy_server.py
Owners: @adityahase

fix: Poll all agent jobs in a single job
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: Create usage records for servers as well
  press/press/doctype/subscription/subscription.py
Owners: none

feat: Add playbooks to toggle ping response
  press/playbooks/disable_ping.yml
  press/playbooks/enable_ping.yml
Owners: @adityahase, @balamurali27

fix: Add proxy security group to all proxy servers
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

feat: update site_config from desk
  press/press/doctype/site/site.py
Owners: @balamurali27

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
