Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @shadrak98, @breadgenie, @rutwikhdev, @18alantom

fix(BaseServer): Pass object to log_error
  press/press/doctype/server/server.py
Owners: @adityahase

feat(PrometheusAlertRule): Add opt-out for telegram msg
  press/press/doctype/alertmanager_webhook_log/alertmanager_webhook_log.py
  press/press/doctype/prometheus_alert_rule/prometheus_alert_rule.json
  press/press/doctype/prometheus_alert_rule/prometheus_alert_rule.py
Owners: none

feat(role-permissions): support agent roles
  dashboard/src2/components/settings/RoleList.vue
  press/api/client.py
  press/press/doctype/press_role/press_role.json
  press/press/doctype/press_role/press_role.py
Owners: @breadgenie

fix(RegionChange): Pass only active benches to SiteMigration
  press/api/site.py
Owners: @balamurali27

fix(SiteMigration): Ensure destination bench is active before insert
  press/press/doctype/site_migration/site_migration.py
Owners: @balamurali27

fix(sentry): Avoid Kafka and Zookeeper volume permissions issue
  press/playbooks/roles/sentry/tasks/main.yml
  press/playbooks/roles/sentry_upgrade/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: remove debug return from run sched builds
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix(BenchUpdate): Show broken sites for update also
  press/press/doctype/release_group/release_group.py
Owners: none

fix: print agent response on upload fail
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

Revert "feat(sentry): Upgrade Sentry from 24.4.2 to 24.5.0"
  press/playbooks/roles/sentry/tasks/main.yml
  press/playbooks/roles/sentry/templates/sentry.env
  press/playbooks/roles/sentry_upgrade/tasks/main.yml
Owners: @adityahase, @balamurali27

Reapply "feat(sentry): Upgrade Sentry from 24.4.2 to 24.5.0"
  press/playbooks/roles/sentry/tasks/main.yml
  press/playbooks/roles/sentry/templates/sentry.env
  press/playbooks/roles/sentry_upgrade/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: commit role fixture
  press/fixtures/role.json
Owners: none

Revert "chore: fix object identifier"
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix: 'NoneType' object has no attribute 'stage_slug'
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

feat(role-permissions): support agent roles (#1810)
  dashboard/src2/components/settings/RoleList.vue
  press/api/client.py
  press/fixtures/role.json
  press/press/doctype/press_role/press_role.json
  press/press/doctype/press_role/press_role.py
Owners: @breadgenie

fix(agent-job): don't restrict list for support agents
  press/press/doctype/agent_job/agent_job.py
Owners: none

fix(AddNewApp): validate app with default branch
  dashboard/src2/components/NewAppDialog.vue
Owners: @breadgenie

feat: show Pay Now btn for both card & prepaid credits Inv
  dashboard/src2/pages/BillingInvoices.vue
Owners: @breadgenie

chore: add filtercontrols
  dashboard/src2/pages/BillingInvoices.vue
Owners: @breadgenie

chore: remove debug statements
  dashboard/src2/pages/BillingInvoices.vue
Owners: @breadgenie

refactor(role-permission): decouple role perms with support agent role
  dashboard/src2/components/settings/RoleList.vue
  press/press/doctype/press_role/press_role.json
  press/press/doctype/press_role/press_role.py
Owners: @breadgenie

refactor: remove user perm logic from protected decorator
  press/api/site.py
Owners: @balamurali27

chore: Remove password requirement if oauth domain is setup
  dashboard/src2/pages/SetupAccount.vue
  press/api/account.py
Owners: @breadgenie

chore(sentry): don't send 417 errors
  dashboard/src2/main.js
Owners: @breadgenie

fix: give read access to sites for support agents
  press/api/client.py
  press/overrides.py
  press/press/doctype/agent_job/agent_job.py
  press/press/doctype/press_role/press_role.py
  press/press/doctype/site/site.json
  press/utils/__init__.py
Owners: @balamurali27

fix: 'NoneType' not subscriptable
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix: add `parenttype` in filter
  press/utils/__init__.py
Owners: none

refactor: `check_team_access` -> `check_document_access`
  press/api/client.py
Owners: none

fix: give read access to sites for support agents (#1816)
  press/api/client.py
  press/overrides.py
  press/press/doctype/agent_job/agent_job.py
  press/press/doctype/press_role/press_role.py
  press/press/doctype/site/site.json
  press/utils/__init__.py
Owners: @balamurali27

fix(Incident): TG alert also on sites down
  press/press/doctype/alertmanager_webhook_log/alertmanager_webhook_log.py
Owners: none

feat: show consolidated partner customer contributions
  dashboard/src2/components/partners/PartnerCustomerInvoices.vue
  dashboard/src2/components/partners/PartnerCustomers.vue
  dashboard/src2/components/partners/PartnerOverview.vue
  press/api/account.py
Owners: @breadgenie

fix: segregate partner code in separate api module
  dashboard/src/views/settings/AccountPartner.vue
  dashboard/src/views/settings/PartnerCustomers.vue
  dashboard/src/views/settings/PartnerRequestStatus.vue
  dashboard/src2/components/partners/PartnerContribution.vue
  dashboard/src2/components/partners/PartnerCustomers.vue
  dashboard/src2/components/partners/PartnerOverview.vue
  dashboard/src2/components/settings/profile/AccountPartner.vue
  press/api/account.py
  press/api/partner.py
  press/partner/doctype/partner_approval_request/partner_approval_request.py
Owners: @breadgenie

feat(Server): show replica server details and analytics
  dashboard/src/views/server/ServerAnalytics.vue
  dashboard/src2/components/server/ServerOverview.vue
  dashboard/src2/objects/server.js
  press/press/doctype/ansible_play/ansible_play.py
  press/press/doctype/server/server.py
Owners: @breadgenie, @adityahase

feat(Server): server actions for replica server
  dashboard/src2/components/server/ServerActions.vue
  dashboard/src2/components/server/ServerOverview.vue
  press/press/doctype/server/server.py
Owners: @breadgenie, @adityahase

feat(Server): show replica server details and analytics (#1819)
  dashboard/src/views/server/ServerAnalytics.vue
  dashboard/src2/components/server/ServerActions.vue
  dashboard/src2/components/server/ServerOverview.vue
  dashboard/src2/objects/server.js
  press/press/doctype/ansible_play/ansible_play.py
  press/press/doctype/server/server.py
Owners: @breadgenie, @adityahase

style(ServerAnalytics): increased width for `Select`
  dashboard/src/views/server/ServerAnalytics.vue
Owners: @breadgenie

fix(Site): don't send bench name when creating site on public bench
  dashboard/src2/pages/NewSite.vue
Owners: @breadgenie

fix: allow for support agents
  press/api/site.py
Owners: @balamurali27

refactor: remove dt override to rg
  press/api/site.py
Owners: @balamurali27

refactor: use one condition
  press/api/site.py
Owners: @balamurali27

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27
team/ @shadrak98

dashboard/ @breadgenie
invoice/ @shadrak98
marketplace* @breadgenie
stripe* @shadrak98
razorpay* @shadrak98
subscription/ @shadrak98

saas @rutwikhdev

deploy* @18alantom
press/Dockerfile @18alantom
