Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

chore: Let everyone see the internal docs
  press/overrides.py
Owners: none

chore(fixtures): added reload NGINX agent job type
  press/fixtures/agent_job_type.json
Owners: none

fix(MalwareScan): Add Clean and Infected states
  press/press/doctype/malware_scan/malware_scan.json
  press/press/doctype/malware_scan/malware_scan.py
Owners: none

fix(MalwareScan): Use correct fieldname for querying ansible task
  press/press/doctype/malware_scan/malware_scan.py
Owners: none

temp: Stop sending alerts
  press/press/doctype/malware_scan/malware_scan.py
Owners: none

fix(MalwareScan): Remove setting of old status
  press/press/doctype/malware_scan/malware_scan.py
Owners: none

fix(MalwareScan): Pick output field correctly
  press/press/doctype/malware_scan/malware_scan.py
Owners: none

feat: Payout details section in Publisher Profile doc
  press/marketplace/doctype/marketplace_publisher_profile/marketplace_publisher_profile.json
Owners: @NagariaHussain

refactor: Extract out publisher profile card into separate component
  dashboard/src/components/marketplace/PublisherProfileCard.vue
  dashboard/src/views/marketplace/MarketplacePublisherProfile.vue
Owners: @NagariaHussain

fix: Remove unused import
  press/press/doctype/malware_scan/malware_scan.py
Owners: none

fix: Remove unused mounted hook
  dashboard/src/components/marketplace/PublisherProfileCard.vue
Owners: @NagariaHussain

fix: Emit name typo
  dashboard/src/components/marketplace/PublisherProfileCard.vue
Owners: @NagariaHussain

feat: Collect publisher payout info in developer dashboard
  dashboard/src/components/marketplace/PublisherPayoutInfoCard.vue
  dashboard/src/views/marketplace/MarketplacePublisherProfile.vue
Owners: @NagariaHussain

fix: Handle profile not yet created case
  dashboard/src/components/marketplace/PublisherProfileCard.vue
  dashboard/src/views/marketplace/MarketplacePublisherProfile.vue
Owners: @NagariaHussain

docs: Add missing command
  press/www/internal/infrastructure/overview.md
Owners: none

fix: Install vagrant-hostmanager plugin during backbone setup
  backbone/setup.py
Owners: @adityahase

fix(backbone): Don't start auxilary machines by default
  backbone/vagrant/Vagrantfile
Owners: @adityahase

fix: Use local.frappe.dev for local setup
  press/bootstrap.py
Owners: none

feat(Site): Add action to create dns record from desk
  press/press/doctype/site/site.js
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: Refactored MarketplacePrepaidCredits dialog to handle renewals
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
  press/api/marketplace.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
  press/press/doctype/marketplace_app/marketplace_app.py
Owners: @NagariaHussain

feat: Create usage records for prepaid apps
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
  press/press/doctype/usage_record/usage_record.json
  press/press/doctype/usage_record/usage_record.py
Owners: @NagariaHussain

deprecate: Removed saas dashboard api methods
  press/api/saas.py
Owners: none

feat: Create nginx pipeline to process
  press/playbooks/roles/filebeat_elasticsearch/files/nginx.json
  press/playbooks/roles/filebeat_elasticsearch/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: Use the newly created nginx ingest pipeline instead of the module default
  press/playbooks/roles/filebeat/templates/modules.d/nginx.yml
Owners: @adityahase, @balamurali27

feat: Parse site name and request duration from nginx access logs
  press/playbooks/roles/filebeat_elasticsearch/files/nginx.json
Owners: @adityahase, @balamurali27

fix(Bench): Make server field modifiable
  press/press/doctype/bench/bench.json
Owners: none

feat: Added Marketplace Consumption Record doc for tracking consumptions at month end
  press/marketplace/doctype/marketplace_consumption_record/__init__.py
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.js
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.json
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
  press/marketplace/doctype/marketplace_consumption_record/test_marketplace_consumption_record.py
  press/press/doctype/balance_transaction/balance_transaction.json
Owners: @NagariaHussain

chore: Minor changes
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
  press/hooks.py
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
Owners: @NagariaHussain

chore: Added currency symbol on prices
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
Owners: @NagariaHussain

chore(ui): Set autoload resources if plan is set
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
Owners: @NagariaHussain

chore(test): Pass team while creating test marketplace app
  press/press/doctype/marketplace_app/test_marketplace_app.py
Owners: none

incr: Store invoice item name in PO Item
  press/press/doctype/payout_order/payout_order.py
  press/press/doctype/payout_order_item/payout_order_item.json
Owners: none

incr: Field to track payouts in invoice item
  press/press/doctype/invoice_item/invoice_item.json
Owners: none

feat: Wrapper method to create PO from invoice items names
  press/press/doctype/payout_order/payout_order.py
Owners: none

feat: Automatic PO generation *first cut* with test
  press/press/doctype/payout_order/payout_order.py
  press/press/doctype/payout_order/test_payout_order.py
Owners: none

incr: Fields to store track payout period in PO
  press/press/doctype/payout_order/payout_order.json
Owners: none

test: Does not re-consider "paid-out" item
  press/press/doctype/payout_order/test_payout_order.py
Owners: none

chore[ui]: Show gst tax percent only for applicable plans
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
Owners: @NagariaHussain

refactor: Create test invoices with test marketplace app as items
  press/press/doctype/payout_order/test_payout_order.py
Owners: none

chore: Added optional company field to account request creation
  press/api/saas.py
Owners: none
