Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

feat: Add --force option for drop-site
  press/agent.py
  press/press/doctype/site/site.js
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: Added field to site_doc for tracking failed archive_site jobs
  press/press/doctype/site/site.json
  press/press/doctype/site/site.py
Owners: @balamurali27

chore: Removed console.log
  press/press/doctype/site/site.js
Owners: @balamurali27

feat: Added force drop option to drop site dialog
  dashboard/src/views/site/SiteDrop.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

fix: Ignore old pending/running Site Updates
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: https://github.com/frappe/press/issues/585
  press/press/doctype/site/site.js
Owners: @balamurali27

feat(Site): Allow users to activate broken site
  dashboard/src/views/site/SiteOverviewInfo.vue
Owners: @NagariaHussain

feat(Site): Add job to run after migrate steps
  press/agent.py
  press/fixtures/agent_job_type.json
  press/press/doctype/site/site.js
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: upload site_config file along with other backup files
  dashboard/src/components/BackupFilesUploader.vue
  dashboard/src/views/site/NewSiteRestore.vue
Owners: @NagariaHussain

fix: defer release diff until deploy
  press/press/doctype/app_release/app_release.py
  press/press/doctype/app_release_difference/app_release_difference.json
  press/press/doctype/app_release_difference/app_release_difference.py
  press/press/doctype/deploy_candidate_difference/deploy_candidate_difference.py
Owners: none

fix(AppReleaseDifference): Set deploy_type to Pull if not Migrate
  press/press/doctype/app_release_difference/app_release_difference.py
Owners: none

fix(SiteUpdate): Always ensure apps are available in destination bench
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

Revert "fix(SiteUpdate): Always ensure apps are available in destination bench"
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix(SiteUpdate): Always ensure apps are available in destination bench
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

Revert "feat: update site_config from desk"
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Array sytax in v-if condition for activate site button
  dashboard/src/views/site/SiteOverviewInfo.vue
Owners: @NagariaHussain

feat: Cluster wise backups
  press/agent.py
  press/press/doctype/backup_bucket/__init__.py
  press/press/doctype/backup_bucket/backup_bucket.js
  press/press/doctype/backup_bucket/backup_bucket.json
  press/press/doctype/backup_bucket/backup_bucket.py
  press/press/doctype/backup_bucket/test_backup_bucket.py
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Use bucket from press settings as a default bucket
  press/press/doctype/backup_bucket/backup_bucket.json
  press/press/doctype/site/site.py
Owners: @balamurali27

perf: Added max_request params to guicorn
  press/docker/config/supervisor.conf
Owners: none

chore: Typo
  press/docker/config/supervisor.conf
Owners: none

certbot installation
  docker/init/init.sh
Owners: none

increase upload size to 250M
  nginx.conf
Owners: @adityahase

feat: delete route53 record on aws on archive
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: added delete subdomain method
  press/press/doctype/site/site.py
Owners: @balamurali27

chore: typo
  press/docker/config/supervisor.conf
Owners: none

Revert "fix: increase upload size (50M -> 250M)"
  nginx.conf
Owners: @adityahase

feat: added cname_record_deleted check
  press/press/doctype/site/site.json
Owners: @balamurali27

refactor: Move get_backup_bucket method to site_backup.py
  press/agent.py
  press/press/doctype/site/site.py
  press/press/doctype/site_backup/site_backup.py
Owners: @balamurali27

chore: Poll for backups on cluster specific buckets
  press/press/doctype/remote_file/remote_file.py
Owners: none

style: Black
  press/press/doctype/app_release_difference/app_release_difference.py
  press/press/doctype/deploy_candidate_difference/deploy_candidate_difference.py
Owners: none

chore: Remove unused import
  press/press/doctype/app_release/app_release.py
Owners: none

fix(Server): Improve "new" worker allocation
  press/press/doctype/server/server.py
Owners: @adityahase

fix(Site): Remove dns record before renaming the doc
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(Site): Set force to False by default in archive_site
  press/agent.py
Owners: none

fix: Cleanup backups from all the buckets in different clusters
  press/press/doctype/remote_file/remote_file.py
  press/press/doctype/site_backup/site_backup.py
Owners: @balamurali27

fix: Remove region inform from s3 api calls
  press/press/doctype/remote_file/remote_file.py
Owners: none

chore: Added regions option for backup bucket
  press/press/doctype/backup_bucket/backup_bucket.json
  press/press/doctype/press_settings/press_settings.json
Owners: none

fix: Set default region while create a s3 resource
  press/press/doctype/remote_file/remote_file.py
Owners: none

fix: Don't charge prepaid saas sites
  press/press/doctype/subscription/subscription.py
Owners: none

chore: Change default frappe version to 14
  press/fixtures/frappe_version.json
Owners: none
