Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

fix: Disable button onclick and show spinner animation
  press/templates/saas/signup.html
Owners: @rutwikhdev

chore: Updated Verification email message
  press/templates/saas/signup.html
Owners: @rutwikhdev

feat: new child table for last actives
  press/press/doctype/site_analytics/site_analytics.json
  press/press/doctype/site_analytics/site_analytics.py
Owners: @balamurali27

revert: Accidently commented
  press/api/saas.py
Owners: none

chore: remove unwanted fields
  press/press/doctype/site_analytics/site_analytics.json
Owners: @balamurali27

chore: Removed return statement
  press/api/saas.py
Owners: none

refactor: Use tab breaks in `Site` form
  press/press/doctype/site/site.json
Owners: @balamurali27

fix: Add document states color to marketplace app doctype
  press/press/doctype/marketplace_app/marketplace_app.json
Owners: none

feat(SecurityUpdateCheck): Add doctype for security update checks
  press/press/doctype/security_update_check/__init__.py
  press/press/doctype/security_update_check/security_update_check.js
  press/press/doctype/security_update_check/security_update_check.json
  press/press/doctype/security_update_check/security_update_check.py
  press/press/doctype/security_update_check/test_security_update_check.py
Owners: none

feat(SecurityUpdateCheck): Add playbook for security update check
  press/playbooks/roles/security_update_check/tasks/main.yml
  press/playbooks/security_update_check.yml
  press/press/doctype/security_update_check/security_update_check.json
  press/press/doctype/security_update_check/security_update_check.py
Owners: @adityahase, @balamurali27

chore: added child table site analytics active
  press/press/doctype/site_analytics_active/__init__.py
  press/press/doctype/site_analytics_active/site_analytics_active.json
  press/press/doctype/site_analytics_active/site_analytics_active.py
Owners: @balamurali27

fix: Show Agent Step Type details in list view
  press/press/doctype/agent_job_type/agent_job_type.json
Owners: none

feat: Server Scripts for Job Steps
  press/press/doctype/press_job/press_job.json
  press/press/doctype/press_job_step/press_job_step.json
  press/press/doctype/press_job_step/press_job_step.py
  press/press/doctype/press_job_type_step/press_job_type_step.json
Owners: none

feat: Press Job
  press/press/doctype/press_job/__init__.py
  press/press/doctype/press_job/press_job.js
  press/press/doctype/press_job/press_job.json
  press/press/doctype/press_job/press_job.py
  press/press/doctype/press_job/test_press_job.py
  press/press/doctype/press_job_step/__init__.py
  press/press/doctype/press_job_step/press_job_step.js
  press/press/doctype/press_job_step/press_job_step.json
  press/press/doctype/press_job_step/press_job_step.py
  press/press/doctype/press_job_step/test_press_job_step.py
  press/press/doctype/press_job_type/__init__.py
  press/press/doctype/press_job_type/press_job_type.js
  press/press/doctype/press_job_type/press_job_type.json
  press/press/doctype/press_job_type/press_job_type.py
  press/press/doctype/press_job_type/test_press_job_type.py
  press/press/doctype/press_job_type_step/__init__.py
  press/press/doctype/press_job_type_step/press_job_type_step.js
  press/press/doctype/press_job_type_step/press_job_type_step.json
  press/press/doctype/press_job_type_step/press_job_type_step.py
  press/press/doctype/press_job_type_step/test_press_job_type_step.py
Owners: none

feat: Execute job steps with background jobs
  press/press/doctype/press_job/press_job.py
Owners: none

fix: Allow downgrading to plans with smaller disk sizes
  dashboard/src/views/server/ServerOverviewPlan.vue
Owners: @NagariaHussain

fix: Add missing method
  press/press/doctype/press_job/press_job.py
Owners: none

fix: Mark Job as successful when all steps are successful
  press/press/doctype/press_job/press_job.py
Owners: none

feat: Create Press Job Steps from Press Job Type
  press/press/doctype/press_job/press_job.json
  press/press/doctype/press_job/press_job.py
  press/press/doctype/press_job_step/press_job_step.json
Owners: none

feat: Sequentially execute job steps
  press/press/doctype/press_job/press_job.py
  press/press/doctype/press_job_step/press_job_step.py
Owners: none

feat: Repeatedly execute job step till it returns a truthy value
  press/press/doctype/press_job/press_job.py
  press/press/doctype/press_job_step/press_job_step.json
  press/press/doctype/press_job_step/press_job_step.py
  press/press/doctype/press_job_type_step/press_job_type_step.json
Owners: none

feat: If a job fails then mark remaining steps as Skipped
  press/press/doctype/press_job/press_job.py
Owners: none

fix: Add job_type in Press Job Step
  press/press/doctype/press_job/press_job.py
  press/press/doctype/press_job_step/press_job_step.json
Owners: none

feat: Execute job steps with background jobs
  press/press/doctype/press_job/press_job.py
Owners: none

feat: Auto Deploy
  press/press/doctype/app_release/app_release.py
Owners: none

fix: Enable Auto Deploy field should be a checkbox
  press/press/doctype/release_group_app/release_group_app.json
Owners: none

fix: apps_to_ignore expects dicts
  press/press/doctype/app_release/app_release.py
Owners: none

refactor: Use tab breaks in `Marketplace App` form
  press/press/doctype/marketplace_app/marketplace_app.json
Owners: none

refactor: Use tab breaks in `Release Group` form
  press/press/doctype/release_group/release_group.json
Owners: none

fix: Flaky subscription test
  press/press/doctype/subscription/test_subscription.py
Owners: none

feat: Resize Server using Press Job
  press/fixtures/press_job_type.json
  press/hooks.py
Owners: none

feat: Create new host keys for every Virtual Machine
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

feat: Allow steps to modify job arguments
  press/press/doctype/press_job/press_job.py
  press/press/doctype/press_job_step/press_job_step.py
Owners: none

fix: Add start, end and duration fields on Press Job
  press/press/doctype/press_job/press_job.json
  press/press/doctype/press_job/press_job.py
  press/press/doctype/press_job_step/press_job_step.py
Owners: none

fix: SSH playbooks need to be rerun on Virtual Machines created from images
  press/playbooks/database_rename.yml
  press/playbooks/rename.yml
  press/playbooks/roles/user_ssh_certificate_rename/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: Syntax highlighting for Press Job Step scripts
  press/press/doctype/press_job_type_step/press_job_type_step.json
Owners: none

feat: Create Server using Press Job
  press/api/server.py
  press/fixtures/press_job_type.json
Owners: none

remove a stupid comma from this file that is unnecessary
  press/fixtures/press_job_type.json
Owners: none

chore: Upgrade frappe-ui
  dashboard/package.json
  dashboard/yarn.lock
Owners: @NagariaHussain

chore: Upgrade to Vite 3
  dashboard/package.json
  dashboard/vite.config.js
Owners: @NagariaHussain
