Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

test: Use db.savepoint with rollback
  press/press/doctype/payout_order/test_payout_order.py
Owners: none

fix: Handle error and db commit after every PO creation
  press/press/doctype/payout_order/payout_order.py
Owners: none

feat(Server): Add playbooks for toggling automatic pkg updates
  press/playbooks/ubuntu-disable-auto-update.yml
  press/playbooks/ubuntu-enable-auto-update.yml
Owners: @adityahase, @balamurali27

fix: Move all bench actions to Actions dropdown
  dashboard/src/views/bench/BenchVersions.vue
Owners: @NagariaHussain

feat: Schedule update for all sites on a bench at once
  dashboard/src/views/bench/BenchVersions.vue
Owners: @NagariaHussain

fix: Limit Usage Record creation
  press/press/doctype/subscription/subscription.py
Owners: none

chore: Remove unused code
  dashboard/src/views/bench/BenchVersions.vue
Owners: @NagariaHussain

fix: BooBoo
  dashboard/src/views/bench/BenchVersions.vue
Owners: @NagariaHussain

fix: Schedule update for all sites on the bench at once
  press/api/bench.py
Owners: none

fix: Check null condition for planData
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
Owners: @NagariaHussain

fix: validate version upgrades before insert
  press/press/doctype/version_upgrade/version_upgrade.py
Owners: none

feat: Allow press to SSH as press and frappe users
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
Owners: none

feat: Use cloud-init instead of bash script for user-data
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: updateAllSites is a resources
  dashboard/src/views/bench/BenchVersions.vue
Owners: @NagariaHussain

fix: Regenerate SSH host keys at first boot
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
Owners: none

fix: Allow logging in as root user on newly booted ec2 instance
  press/press/doctype/virtual_machine/cloud-init.yml.jinja2
Owners: none

feat: added validation for same server
  press/press/doctype/version_upgrade/version_upgrade.py
Owners: none

feat: made validate_apps as utility method
  press/press/doctype/site_update/site_update.py
  press/press/doctype/version_upgrade/version_upgrade.py
Owners: @balamurali27

cleanup: Remove unused code
  press/press/doctype/subscription/subscription.py
Owners: none

fix: Create Usage Records only for paid plans
  press/press/doctype/subscription/subscription.py
Owners: none

chore: better naming of method
  press/press/doctype/site_update/site_update.py
  press/press/doctype/version_upgrade/version_upgrade.py
Owners: @balamurali27

feat: added fail2ban
  press/playbooks/fail2ban.yml
  press/playbooks/roles/fail2ban/defaults/main.yml
  press/playbooks/roles/fail2ban/handlers/main.yml
  press/playbooks/roles/fail2ban/tasks/mail.yml
  press/playbooks/roles/fail2ban/templates/nginx-proxy-filter.conf.j2
  press/playbooks/roles/fail2ban/templates/nginx-proxy-jail.conf.j2
  press/press/doctype/proxy_server/proxy_server.js
  press/press/doctype/proxy_server/proxy_server.py
Owners: @adityahase, @balamurali27

fix: Styling for verification dailogs
  dashboard/src/views/auth/Login.vue
  dashboard/src/views/auth/Signup.vue
Owners: @NagariaHussain

fix: Stripe Payment Method link should be nullable
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.json
Owners: @NagariaHussain

chore[ui]: Add rounded borders to buttons
  press/public/email/style.css
Owners: none

refactor: Add dropdown for country field
  press/templates/saas/signup.html
Owners: @rutwikhdev

fix: Remove payment method link from micro charge
  press/press/doctype/stripe_payment_method/stripe_payment_method.py
Owners: @NagariaHussain

feat: whitelist proxy ip address
  press/playbooks/roles/fail2ban/tasks/mail.yml
  press/playbooks/whitelist_ipaddress.yml
  press/press/doctype/proxy_server/proxy_server.js
  press/press/doctype/proxy_server/proxy_server.py
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27

feat: Adding default outgoing emails for saas apps
  press/press/doctype/account_request/account_request.py
  press/press/doctype/marketplace_app/marketplace_app.json
Owners: none

chore: Added forms steps to signup templates
  press/templates/saas/layout.html
  press/templates/saas/signup.html
Owners: @rutwikhdev

chore: If card is not added show Billing Info dialog instead of running steps for creating sites/benches
  dashboard/src/views/bench/Benches.vue
  dashboard/src/views/site/Sites.vue
Owners: @NagariaHussain

fix: Added button to include GSTIN
  dashboard/src/components/AddressForm.vue
Owners: @NagariaHussain

chore: Black refactor
  press/press/doctype/account_request/account_request.py
  press/press/doctype/stripe_payment_method/stripe_payment_method.py
Owners: @NagariaHussain

chore: Remove unused import
  press/press/doctype/account_request/account_request.py
Owners: none

chore: Check default outgoing emails only custom_verify_template is set
  press/press/doctype/account_request/account_request.py
Owners: none

fix: Incorrect reference to appTitle
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

chore: Add Site Manager role to some standard reports
  press/press/report/binary_log_browser/binary_log_browser.json
  press/press/report/mariadb_process_list/mariadb_process_list.json
  press/press/report/mariadb_slow_queries/mariadb_slow_queries.json
Owners: none

fix: Pass plan instead of marketplace_plan for invoice creation
  press/api/marketplace.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

feat(ufw): Enable ufw logging
  press/playbooks/roles/ufw/tasks/main.yml
Owners: @adityahase, @balamurali27

fix(ufw): Set conditional rules for servers
  press/playbooks/roles/ufw/tasks/main.yml
Owners: @adityahase, @balamurali27

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
