Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

chore: Remove additional padding
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

chore: Run susbcription audit at 4:00 am and minor refactor
  press/hooks.py
  press/press/audit.py
  press/press/doctype/subscription/subscription.py
Owners: none

chore: Minor refactor
  press/api/account.py
Owners: none

fix: Dialog template
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

chore: Remove console logs
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

fix: update route53 after site rename
  press/press/doctype/site/site.py
Owners: @balamurali27

chore: add site arg
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(minor): make site arg optional
  press/press/doctype/site/site.py
  press/press/doctype/site_migration/site_migration.py
Owners: @balamurali27

chore: add cleanup cname record to daily long job
  press/hooks.py
Owners: none

fix: Hide discount if partner_email is not equals team
  dashboard/src/components/InvoiceUsageTable.vue
Owners: @NagariaHussain

fix: add site analytics setup function
  press/playbooks/roles/agent/tasks/main.yml
Owners: @adityahase, @balamurali27

chore: typo
  press/playbooks/roles/agent/tasks/main.yml
Owners: @adityahase, @balamurali27

chore: Fix styling and minor stuff
  press/press/doctype/marketplace_app_category/marketplace_app_category.json
  press/public/js/marketplace.bundle.js
  press/www/marketplace/index.html
Owners: @NagariaHussain

chore: Show agent password
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Reset Site Usage
  press/agent.py
  press/fixtures/agent_job_type.json
  press/press/doctype/site/site.js
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Sort alphabetically
  press/www/marketplace/index.py
Owners: @NagariaHussain

chore: Minor fixes
  press/press/doctype/marketplace_app/templates/marketplace_app.html
  press/public/js/marketplace.bundle.js
  press/www/marketplace/index.html
  press/www/marketplace/index.py
Owners: @NagariaHussain

feat: Add New Versions from dashbaord and more
  dashboard/src/components/ChangeAppBranchDialog.vue
  dashboard/src/components/MarketplaceAppProfile.vue
  dashboard/src/components/marketplace/ChangeAppBranchDialog.vue
  dashboard/src/components/marketplace/CreateAppVersionDialog.vue
  press/api/marketplace.py
  press/press/doctype/marketplace_app/marketplace_app.py
Owners: @NagariaHussain

chore: Refactor and misc fixes
  dashboard/src/components/AppSourceSelector.vue
  dashboard/src/components/CommandPalette.vue
  dashboard/src/components/InvoiceUsageTable.vue
  dashboard/src/components/SelectAppFromGithub.vue
  dashboard/src/components/Sidebar.vue
  dashboard/src/controllers/register.js
  dashboard/src/router/register.js
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/bench/BenchVersions.vue
  dashboard/src/views/partials/LoginBox.vue
  dashboard/src/views/server/Server.vue
  dashboard/src/views/settings/AccountMembers.vue
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteDatabaseRestore.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
  dashboard/src/views/site/SiteOverviewDomains.vue
  press/www/marketplace/index.py
Owners: @NagariaHussain

chore: Update list of countries for us_au_anz
  press/press/doctype/team/team.py
Owners: none

chore: Added frappe approved check and review stage
  press/press/doctype/marketplace_app/marketplace_app.json
  press/press/doctype/marketplace_app/templates/marketplace_app.html
Owners: none

fix: Dialog size
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

chore: Fix styling
  press/press/doctype/marketplace_app/templates/marketplace_app.html
Owners: none

feat: Marketplace App review improvements
  dashboard/src/components/marketplace/MarketplaceAppReviewStages.vue
  dashboard/src/router/marketplace.js
  dashboard/src/views/marketplace/MarketplaceApp.vue
  dashboard/src/views/marketplace/MarketplaceAppReview.vue
  press/api/marketplace.py
Owners: @NagariaHussain

feat: Approval Request code screening for security checks
  press/api/marketplace.py
  press/press/doctype/app_release_approval_request/app_release_approval_request.html
  press/press/doctype/app_release_approval_request/app_release_approval_request.js
  press/press/doctype/app_release_approval_request/app_release_approval_request.json
  press/press/doctype/app_release_approval_request/app_release_approval_request.py
Owners: none

fix(SiteUpdate): Mark stuck site updates as Fatal
  press/hooks.py
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: show max_lines filter in mariadb slow query report
  press/press/report/mariadb_slow_queries/mariadb_slow_queries.js
  press/press/report/mariadb_slow_queries/mariadb_slow_queries.py
Owners: none

feat: allow to skip backups
  dashboard/src/components/AlertSiteUpdate.vue
  press/agent.py
  press/api/site.py
  press/press/doctype/site/site.js
  press/press/doctype/site/site.py
  press/press/doctype/site_update/site_update.json
  press/press/doctype/site_update/site_update.py
  press/press/doctype/team/team.json
Owners: @NagariaHussain, @balamurali27

feat: read access for agent jobs to site manager
  press/press/doctype/agent_job/agent_job.json
Owners: none

chore: Allow rename for marketplace app doctype
  press/press/doctype/marketplace_app/marketplace_app.json
Owners: none

feat: Initialize BYOD
  press/playbooks/get_apps.yml
  press/playbooks/get_sites.yml
  press/playbooks/roles/convert/tasks/main.yml
  press/playbooks/roles/convert/templates/mariadb.cnf
  press/playbooks/roles/get-apps/tasks/main.yml
  press/playbooks/roles/get_sites/tasks/main.yml
  press/playbooks/self_hosted.yml
  press/press/doctype/database_server/database_server.js
  press/press/doctype/database_server/database_server.json
  press/press/doctype/database_server/database_server.py
  press/press/doctype/self_hosted_server/__init__.py
  press/press/doctype/self_hosted_server/self_hosted_server.js
  press/press/doctype/self_hosted_server/self_hosted_server.json
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/self_hosted_server/self_hosted_server_dashboard.py
  press/press/doctype/self_hosted_server/test_self_hosted_server.py
  press/press/doctype/self_hosted_site_apps/__init__.py
  press/press/doctype/self_hosted_site_apps/self_hosted_site_apps.json
  press/press/doctype/self_hosted_site_apps/self_hosted_site_apps.py
  press/press/doctype/server/server.js
  press/press/doctype/server/server.json
  press/press/doctype/server/server.py
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: @adityahase, @balamurali27

chore: Formatted .py files
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/self_hosted_server/self_hosted_server_dashboard.py
  press/press/doctype/server/server.py
Owners: @adityahase

chore: Remove categories from dashbaord
  dashboard/src/components/MarketplaceAppProfile.vue
  press/api/marketplace.py
Owners: @NagariaHussain

fix: show timestamp and value on site uptime graph
  dashboard/src/views/site/SiteAnalyticsUptime.vue
Owners: @NagariaHussain

chore: format uptime
  dashboard/src/views/site/SiteAnalyticsUptime.vue
Owners: @NagariaHussain

fix: show timestamp and value on site uptime graph (#754)
  dashboard/src/views/site/SiteAnalyticsUptime.vue
Owners: @NagariaHussain

fix: Restart agent: on when updating with playbook
  press/playbooks/roles/update_agent/tasks/main.yml
Owners: @adityahase, @balamurali27

Revert "fix: Restart agent: on when updating with playbook"
  press/playbooks/roles/update_agent/tasks/main.yml
Owners: @adityahase, @balamurali27

refactor: Child table for auto app release and request approval
  dashboard/src/components/MarketplaceAppProfile.vue
  dashboard/src/utils.js
  press/api/marketplace.py
  press/marketplace/doctype/auto_release_team/__init__.py
  press/marketplace/doctype/auto_release_team/auto_release_team.json
  press/marketplace/doctype/auto_release_team/auto_release_team.py
  press/marketplace/doctype/marketplace_settings/marketplace_settings.json
  press/press/doctype/app_release/app_release.py
  press/press/doctype/app_release_approval_request/app_release_approval_request.py
Owners: @NagariaHussain

chore: Add Server Creation from Self Hosted Doc
  press/agent.py
  press/playbooks/get_apps.yml
  press/playbooks/roles/get_apps/tasks/main.yml
  press/press/doctype/self_hosted_server/self_hosted_server.js
  press/press/doctype/self_hosted_server/self_hosted_server.json
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/server/server.json
  press/press/doctype/server/server.py
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: @adityahase, @balamurali27
