Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @shadrak98, @breadgenie, @rutwikhdev, @18alantom

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27
team/ @shadrak98

dashboard/ @breadgenie
invoice/ @shadrak98
marketplace* @breadgenie
stripe* @shadrak98
razorpay* @shadrak98
subscription/ @shadrak98

saas @rutwikhdev

deploy* @18alantom
press/Dockerfile @18alantom

fix: Use UTC timestamp for site usage sync
  press/press/doctype/bench/bench.py
Owners: none

chore: Update supervisor.conf
  supervisor.conf
Owners: none

chore: Update supervisor.conf
  supervisor.conf
Owners: none

fix(RolePermission): `getDocResource` instead of `createDocumentResource`
  dashboard/src2/components/settings/RoleConfigureDialog.vue
Owners: @breadgenie

fix(SiteCharts): Send correct timestamp to Prometheus
  press/api/analytics.py
Owners: none

fix: add retry_count and retry handling
  press/press/doctype/deploy_candidate/deploy_candidate.json
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix: allow schedule_build_and_deploy to run now
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix(SitePlans): hide specs for unlimited plan
  dashboard/src2/components/SitePlansCards.vue
Owners: @breadgenie

fix: Ignore keys with missing values in site_config
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Ignore keys with missing values in site_config
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: add 2 build retry cases
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix(SiteOverview): hide specs for unlimited plan
  dashboard/src2/components/SiteOverview.vue
Owners: @breadgenie

perf: Sync all OCI machines with one call to list_instances
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix(Site): Skip sites with skip_scheduled_backups always
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(team): check billing state of parent team for onboarding
  press/press/doctype/team/team.py
Owners: @shadrak98

fix(ListPage): don't show payment banner if team has parent team
  dashboard/src2/pages/ListPage.vue
Owners: @breadgenie

feat(PrometheusAlertRule): Add option to skip on certain servers
  press/press/doctype/prometheus_alert_rule/prometheus_alert_rule.json
  press/press/doctype/prometheus_alert_rule/prometheus_alert_rule.py
  press/press/doctype/prometheus_alert_rule_cluster/__init__.py
  press/press/doctype/prometheus_alert_rule_cluster/prometheus_alert_rule_cluster.json
  press/press/doctype/prometheus_alert_rule_cluster/prometheus_alert_rule_cluster.py
Owners: none

fix(team): whitelist `parent_team` field
  press/press/doctype/team/team.py
Owners: @shadrak98

feat: Periodically pdate setup wizard completion status
  press/hooks.py
  press/press/doctype/site/sync.py
Owners: @balamurali27

fix: Typo
  press/press/doctype/site/site_usages.py
Owners: @balamurali27

fix: Return early from enable/disable subscription.
  press/press/doctype/subscription/subscription.py
Owners: @shadrak98

fix(Incident): Notify on telegram if twilio unreachable
  press/press/doctype/incident/incident.py
  press/press/doctype/incident/test_incident.py
Owners: none

feat(sentry): Upgrade Sentry from 24.4.2 to 24.5.0
  press/playbooks/roles/sentry/tasks/main.yml
  press/playbooks/roles/sentry/templates/sentry.env
  press/playbooks/roles/sentry_upgrade/tasks/main.yml
Owners: @adityahase, @balamurali27

fix(sentry): Upgrade docker-compose
  press/playbooks/roles/sentry/tasks/main.yml
  press/playbooks/roles/sentry_upgrade/tasks/main.yml
Owners: @adityahase, @balamurali27

fix(tls): Log TLS renewal errors and continue with other certificates
  press/press/doctype/tls_certificate/tls_certificate.py
Owners: none

fix(release-group): pick app source from same team or public while changing branch
  press/press/doctype/release_group/release_group.py
Owners: none

fix: conditional branching to avoid undefined error
  dashboard/src2/components/AppSidebar.vue
Owners: @breadgenie

feat: add view in desk option for jobs, deploys and plays
  dashboard/src2/pages/BenchDeploy.vue
  dashboard/src2/pages/JobPage.vue
  dashboard/src2/pages/PlayPage.vue
Owners: @breadgenie

refactor(BenchSites): better toast messages
  dashboard/src2/pages/ReleaseGroupBenchSites.vue
Owners: @breadgenie

fix(bench): compare with app field instead of name of marketplace app
  press/api/bench.py
Owners: none

fix: reduce scheduler priority in supervisor
  press/docker/config/supervisor.conf
Owners: none

chore: increase startsecs
  press/docker/config/supervisor.conf
Owners: none

fix: add re-deploy banner - remove reset_build_output call
  dashboard/components.d.ts
  dashboard/src2/pages/BenchDeploy.vue
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @breadgenie, @18alantom

fix: add required-apps-not-found
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

feat(Server): Add playbook and method to prune docker system
  press/playbooks/docker_system_prune.yml
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27

fix(BaseServer): Break glass before running playbook
  press/press/doctype/server/server.py
Owners: @adityahase

fix(RegistryServer): Suspend builds before pruning
  press/press/doctype/registry_server/registry_server.py
Owners: @adityahase

feat(PressJob): Add job to prune docker cache
  press/fixtures/press_job_type.json
Owners: none

fix: dont autorestart scheduler on normal exit
  press/docker/config/supervisor.conf
Owners: none

fix(BaseServer): Increase timeout for prune
  press/playbooks/docker_system_prune.yml
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27
