Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

feat: Virtual Disk Snapshot
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.js
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.json
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.py
  press/press/doctype/virtual_machine/virtual_machine.js
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

chore: Update Virtual Machine links
  press/press/doctype/virtual_machine/virtual_machine.json
Owners: none

fix: Send Telegram alerts from background workers
  press/press/doctype/alertmanager_webhook_log/alertmanager_webhook_log.py
Owners: none

fix: Update snapshot progress more frequently
  press/hooks.py
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.json
Owners: none

feat: Create Organization DocType
  press/press/doctype/organization/__init__.py
  press/press/doctype/organization/organization.js
  press/press/doctype/organization/organization.json
  press/press/doctype/organization/organization.py
  press/press/doctype/organization/test_organization.py
  press/press/doctype/organization_member/__init__.py
  press/press/doctype/organization_member/organization_member.json
  press/press/doctype/organization_member/organization_member.py
Owners: none

fix: Remove non-billing fields from Organization
  press/press/doctype/organization/organization.json
Owners: none

fix: Create Organization from Team
  press/patches.txt
  press/press/doctype/organization/patches/create_organization_from_team.py
  requirements.txt
Owners: none

fix: Set organization in Team
  press/patches.txt
  press/press/doctype/team/patches/set_organization.py
  press/press/doctype/team/team.json
Owners: none

refactor: Rename Organization to Org
  press/patches.txt
  press/press/doctype/org/__init__.py
  press/press/doctype/org/org.js
  press/press/doctype/org/org.json
  press/press/doctype/org/org.py
  press/press/doctype/org/patches/create_org_from_team.py
  press/press/doctype/org/test_org.py
  press/press/doctype/org_member/__init__.py
  press/press/doctype/org_member/org_member.json
  press/press/doctype/org_member/org_member.py
  press/press/doctype/organization/patches/create_organization_from_team.py
  press/press/doctype/team/patches/set_org.py
  press/press/doctype/team/team.json
Owners: none

fix: Set org field in Stripe Payment Method
  press/patches.txt
  press/press/doctype/stripe_payment_method/patches/set_org.py
  press/press/doctype/stripe_payment_method/stripe_payment_method.json
  press/press/doctype/stripe_payment_method/stripe_payment_method.py
Owners: @NagariaHussain

fix: Add via_erpnext to Org
  press/press/doctype/org/org.json
Owners: none

refactor: Move new account creation from Team to Org
  press/api/account.py
  press/press/doctype/account_request/account_request.json
  press/press/doctype/account_request/account_request.py
  press/press/doctype/org/org.py
  press/press/doctype/team/team.py
Owners: none

fix: Allow signups without GeoIP data
  press/press/doctype/account_request/account_request.py
Owners: none

fix: Ignore Frappe.io connection during tests
  press/press/doctype/team/team.py
Owners: none

fix: Ignore Frappe.io connection during installation
  press/press/doctype/team/team.py
Owners: none

fix: Ignore Frappe.io connection during tests
  press/press/doctype/team/team.py
Owners: none

fix: Add is_self_hosted to Proxy Server
  press/press/doctype/proxy_server/proxy_server.json
Owners: @adityahase

fix: Telegram alerts need parsed payload
  press/press/doctype/alertmanager_webhook_log/alertmanager_webhook_log.py
Owners: none

fix: Add is_self_hosted to Proxy Server
  press/press/doctype/proxy_server/proxy_server.json
Owners: @adityahase

fix: Send Telegram alerts from background workers
  press/press/doctype/alertmanager_webhook_log/alertmanager_webhook_log.py
Owners: none

fix: Link Address to Org
  press/patches.txt
  press/press/doctype/org/org.js
  press/press/doctype/org/org.py
  press/press/doctype/org/patches/link_addresses_from_team.py
  press/press/doctype/team/team.py
Owners: none

fix: Move billing details from Team to Org
  press/api/account.py
  press/press/doctype/org/org.py
  press/press/doctype/team/team.py
  press/utils/__init__.py
Owners: none

fix: Allow Press Member access to Org
  press/press/doctype/org/org.json
Owners: none

fix: Use billing_name and billing_address from Org
  press/api/account.py
  press/api/billing.py
Owners: none

chore(deps): Bump frappe-charts version to 2.0.0-rc22
  dashboard/package.json
  dashboard/yarn.lock
Owners: @NagariaHussain

fix(FileUploader): emits message as payload
  dashboard/src/components/FileUploader.vue
Owners: @NagariaHussain

feat: add logo image dimensions validation
  dashboard/src/components/MarketplaceAppProfile.vue
  press/api/marketplace.py
Owners: @NagariaHussain

chore(ui): Show working redirects and validate primary redirect action
  dashboard/src/utils.js
  dashboard/src/views/site/SiteOverviewDomains.vue
Owners: @NagariaHussain

fix: don't throw if in CI
  press/press/doctype/team/team.py
Owners: none

fix: Use wildcard domains for Self hosted server TLS
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Add search to app dialogs
  dashboard/src/views/bench/BenchApps.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

fix(ui): Large loading indicator
  dashboard/src/views/site/DatabaseAccessDialog.vue
Owners: @NagariaHussain

chore: Fix style
  dashboard/src/views/bench/BenchApps.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

perf(minor): get_doc -> get_value
  press/api/marketplace.py
  press/press/doctype/release_group/release_group.py
Owners: none

chore: Update Baseserver validation for Proxyserver
  press/playbooks/self_hosted.yml
  press/press/doctype/self_hosted_server/self_hosted_server.py
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27

fix(Deploy): Commit after each deploy candidate difference creation
  press/press/doctype/deploy/deploy.py
Owners: none

fix: add polling remote file status job to long queue
  press/hooks.py
Owners: none

fix: Remove billing fields from Team
  press/press/doctype/team/team.json
Owners: none

fix: Move instead of copying addresses
  press/patches.txt
  press/press/doctype/org/patches/link_addresses_from_team.py
  press/press/doctype/org/patches/move_addresses_from_team_to_org.py
Owners: none

fix: Remove billing fields from Team
  press/patches.txt
  press/press/doctype/org/org.py
  press/press/doctype/team/patches/drop_billing_fields.py
  press/press/doctype/team/team.py
Owners: none

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
