Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

fix(SiteBackup): Don't backup trial sites only
  press/press/doctype/site/site.py
Owners: @balamurali27

add no cache build button
  press/press/doctype/deploy_candidate/deploy_candidate.js
Owners: none

refactor: backup restoration test
  press/api/site.py
  press/hooks.py
  press/press/doctype/backup_restoration_test/backup_restoration_test.py
  press/press/doctype/site/site.py
  press/press/doctype/site_replication/site_replication.py
Owners: @balamurali27

fix: check if region is available
  press/agent.py
Owners: none

no cache builds and refactor
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: none

remove markupsafe dep
  press/docker/Dockerfile
  press/docker/Dockerfile_Bench_5_15_2
Owners: none

chore: remove markupsafe dep (#668)
  press/docker/Dockerfile
  press/docker/Dockerfile_Bench_5_15_2
Owners: none

fix(Server): Handle ZeroDivisionError in worker allocation
  press/press/doctype/server/server.py
Owners: @adityahase

fix(SiteUpdate): Reallocate bench workers on success
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

refactor(SiteUpdate): Use guard clause for reallocate_workers
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

feat: refactored unarchived brt sites job
  press/hooks.py
  press/press/doctype/backup_restoration_test/backup_restoration_test.json
  press/press/doctype/backup_restoration_test/backup_restoration_test.py
  press/press/doctype/backup_restoration_test/backup_test.py
Owners: none

fix: remove unused brt code from callback
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: increased password strength limit to 35 chars
  press/templates/saas/signup.html
  press/www/erpnext/signup.html
Owners: @rutwikhdev

fix(minor): no max chars limit on passwords
  press/templates/saas/signup.html
  press/www/erpnext/signup.html
Owners: @rutwikhdev

feat(DeployCandidate): add no cache build button (#667)
  press/press/doctype/deploy_candidate/deploy_candidate.js
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: none

feat: patch to update backup restoration test
  press/patches.txt
Owners: none

fix(minor): replicate always with files
  press/press/doctype/site_replication/site_replication.py
Owners: @balamurali27

chore: Remove logo from prepare-site template
  press/www/prepare-site.html
Owners: none

chore: Remove fields from setup-account template
  press/templates/saas/setup-account.html
Owners: @rutwikhdev

chore: Remove duplicate code
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: '+' in team email is decoded as ' '
  press/api/marketplace.py
Owners: none

fix: Render paths with dot in them
  dashboard/package.json
  dashboard/vite.config.js
Owners: @NagariaHussain

fix: Use SocketIO v4
  dashboard/package.json
  dashboard/src/controllers/socket.js
Owners: @NagariaHussain

chore: Update yarn.lock
  dashboard/yarn.lock
Owners: @NagariaHussain

fix: Throw 404 if server doesn't exist
  press/api/server.py
Owners: none

fix: Reroute from /servers/x to /servers/x/overview
  dashboard/src/App.vue
Owners: @NagariaHussain

fix: Use framework's 404 image
  dashboard/src/assets/404.png
  dashboard/src/views/general/404.vue
Owners: @NagariaHussain

fix: preserve route when showing 404 on server pages
  dashboard/src/views/server/Server.vue
Owners: @NagariaHussain

feat: Show benches available on app server
  dashboard/src/router/server.js
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerBenches.vue
  press/api/bench.py
  press/api/server.py
Owners: @NagariaHussain

feat(minor): more status options for marketplace apps
  dashboard/src/utils.js
  press/press/doctype/marketplace_app/marketplace_app.json
Owners: @NagariaHussain

chore: Change default swap size from 4 gigs to 8 gigs
  press/playbooks/roles/swap/tasks/main.yml
Owners: @adityahase, @balamurali27

feat(Site): verify backup file before restore
  press/agent.py
Owners: none

fix: Show normalized load average in Server Stats report
  press/press/report/server_stats/server_stats.py
Owners: none

fix: Show memory shortage in Server Stats
  press/press/report/server_stats/server_stats.py
Owners: none

fix: naming
  press/press/report/server_stats/server_stats.py
Owners: none

chore: Black
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: none

fix: Include database servers in Server Stats report
  press/press/report/server_stats/server_stats.py
Owners: none

fix: Archive multiple benches with every archive_obsolete_benches call
  press/press/doctype/bench/bench.py
Owners: none

fix: Archive benches more aggressively
  press/hooks.py
Owners: none

fix: Ignore site-sync on archived sites
  press/press/doctype/bench/bench.py
Owners: none

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
