Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

feat: Handle case when PO for the period already exists
  press/press/doctype/payout_order/payout_order.py
  press/press/doctype/payout_order/test_payout_order.py
Owners: none

fix(test): Pass period start and end while creating PO
  press/press/doctype/payout_order/test_payout_order.py
Owners: none

perf: Non-variable variables inside loop
  press/press/doctype/payout_order/payout_order.py
Owners: none

feat: Create POs in a scheduled job at end of every month
  press/hooks.py
  press/press/doctype/payout_order/payout_order.py
Owners: none

fix: Set amount(usd/inr) in whitelisted method
  press/api/marketplace.py
  press/press/doctype/marketplace_app/marketplace_app.py
Owners: none

refactor: Break down large function into smaller functions
  press/press/doctype/payout_order/payout_order.py
Owners: none

feat: Use custom elasticsearch config file
  press/playbooks/roles/elasticsearch/tasks/main.yml
  press/playbooks/roles/elasticsearch/templates/elasticsearch.yml
Owners: @adityahase, @balamurali27

fix(Bench): Increase port offset from 100 to 1000
  press/press/doctype/bench/bench.py
Owners: none

fix: Typo
  dashboard/src/components/marketplace/PublisherPayoutInfoCard.vue
Owners: @NagariaHussain

fix: Only show server plans for the selected cluster
  dashboard/src/views/server/NewAppServerPlans.vue
  dashboard/src/views/server/NewDBServerPlans.vue
  dashboard/src/views/server/NewServer.vue
  press/api/server.py
Owners: @NagariaHussain

perf: Don't reload SSHD after every minor change
  press/playbooks/roles/sshd_hardening/handlers/main.yml
  press/playbooks/roles/sshd_hardening/tasks/main.yml
Owners: @adityahase, @balamurali27

fix: Show server plans for the same region
  dashboard/src/views/server/ServerOverviewPlan.vue
  press/api/server.py
Owners: @NagariaHussain

fix: Show running steps on Server installation page
  dashboard/src/views/server/ServerInstall.vue
  press/press/doctype/press_job/press_job.py
Owners: @NagariaHussain

chore: Fix outdated Press Jobs
  press/fixtures/press_job_type.json
Owners: none

fix: Use Press Jobs for resize and archive server actions
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Alternate site creation for saas
  press/api/saas.py
  press/press/doctype/site/saas_site.py
  press/saas/doctype/saas_settings/saas_settings.json
Owners: @balamurali27, @rutwikhdev

feat: Check ownership of multiple doctypes with @protected decorator
  press/api/site.py
Owners: @balamurali27

fix: @protected decorator should work with Server and Database Server
  press/api/server.py
Owners: none

fix: Use poly_get_doc to avoid redundant exists checks
  press/api/server.py
Owners: none

feat: Redirect to previously visited URL after login
  dashboard/src/router/register.js
  dashboard/src/views/auth/Login.vue
Owners: @NagariaHussain

chore: Return site status via frappeclient
  press/api/saas.py
Owners: none

fix: Restrict press users only to Database Servers they own
  press/hooks.py
Owners: none

fix: Restrict press users only to Virtual Machines they own
  press/hooks.py
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Allow press users create/write access to internal doctypes
  press/press/doctype/ansible_play/ansible_play.json
  press/press/doctype/ansible_task/ansible_task.json
  press/press/doctype/press_job/press_job.json
  press/press/doctype/press_job_step/press_job_step.json
  press/press/doctype/virtual_machine/virtual_machine.json
Owners: none

fix: New URL for creating a bench on a private server
  dashboard/src/router/bench.js
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerList.vue
Owners: @NagariaHussain

feat: UI for creating new bench on a private server
  dashboard/src/views/bench/NewBench.vue
  press/api/bench.py
  press/api/server.py
  press/press/doctype/release_group/release_group.py
Owners: @NagariaHussain

fix: Route to app server for new bench action on db server
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerList.vue
  press/api/server.py
Owners: @NagariaHussain

fix: Typo
  press/api/bench.py
Owners: none

fix: Add missing border from site plans table
  dashboard/src/components/SitePlansTable.vue
Owners: @NagariaHussain

fix: Pick a hardcoded zero cost plan for sites on private servers
  dashboard/src/views/site/NewSite.vue
  press/api/bench.py
Owners: @NagariaHussain

fix: Hide plan selection step for sites on private servers
  dashboard/src/views/site/NewSite.vue
Owners: @NagariaHussain

fix: Don't allow plan change for sites on private server
  dashboard/src/views/site/SiteOverviewPlan.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

fix: Allow free plans only if user owns the server
  press/api/site.py
Owners: @balamurali27

fix: Consistent naming for database actions
  dashboard/src/views/site/SiteDatabaseRestore.vue
Owners: @NagariaHussain

fix: Pack more VMs in the subnet
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Remove dangerous code
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: describe_images might not return snapshot size
  press/press/doctype/virtual_machine_image/virtual_machine_image.py
Owners: none

feat: Create Snapshot action for servers
  press/press/doctype/database_server/database_server.js
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Typo
  press/api/site.py
Owners: @balamurali27

fix: Use UTC time with Prometheus
  press/api/server.py
Owners: none

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
