Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @shadrak98, @breadgenie, @rutwikhdev, @18alantom

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27
team/ @shadrak98

dashboard/ @breadgenie
invoice/ @shadrak98
marketplace* @breadgenie
stripe* @shadrak98
razorpay* @shadrak98
subscription/ @shadrak98

saas @rutwikhdev

deploy* @18alantom
press/Dockerfile @18alantom

feat(SiteUpdate): add option to configure auto update
  dashboard/src2/components/site/ConfigureAutoUpdateDialog.vue
  dashboard/src2/objects/site.js
  press/press/doctype/site/site.py
Owners: @breadgenie, @balamurali27

feat(SiteUpdate): add option to configure auto update (#1831)
  dashboard/src2/components/site/ConfigureAutoUpdateDialog.vue
  dashboard/src2/objects/site.js
  press/press/doctype/site/site.py
Owners: @breadgenie, @balamurali27

fix(SiteUpdate): show configure for private bench sites only
  dashboard/src2/objects/site.js
Owners: @breadgenie

chore: prune docker until 24h → 6h
  press/playbooks/docker_system_prune.yml
Owners: @adityahase, @balamurali27

fix: validate on billing team
  press/press/doctype/server/server.py
  press/press/doctype/site/site.py
Owners: @adityahase, @balamurali27

fix(client-api): remove duplicate entries if item permitted from multiple roles
  press/api/client.py
Owners: none

style(AppSidebar): padding to not cropt the text
  dashboard/src2/components/AppSidebar.vue
Owners: @breadgenie

feat: support for site's restore and resinstall operations for managed database service
  press/agent.py
  press/press/doctype/site/site.py
  press/www/dashboard-beta.html
Owners: @balamurali27

feat: define managed database service configs
  press/press/doctype/managed_database_service/__init__.py
  press/press/doctype/managed_database_service/managed_database_service.js
  press/press/doctype/managed_database_service/managed_database_service.json
  press/press/doctype/managed_database_service/managed_database_service.py
  press/press/doctype/managed_database_service/test_managed_database_service.py
  press/press/doctype/site/site.json
  press/press/doctype/site/site.py
  press/www/dashboard-beta.html
Owners: @balamurali27

fix: update dbhost and port
  press/agent.py
  press/press/doctype/bench/bench.py
Owners: none

fix: db host
  press/press/doctype/bench/bench.py
Owners: none

feat: provision to condfigure DB service on server and bench
  press/press/doctype/bench/bench.json
  press/press/doctype/managed_database_service/managed_database_service.json
  press/press/doctype/managed_database_service/managed_database_service.py
  press/press/doctype/self_hosted_server/self_hosted_server.json
  press/press/doctype/server/server.json
  press/press/doctype/site/site.json
Owners: @adityahase, @balamurali27

feat: provision to setup site with managed DB
  press/agent.py
  press/press/doctype/bench/bench.py
  press/press/doctype/server/server.py
  press/press/doctype/site/site.py
Owners: @adityahase, @balamurali27

feat: provision to configure rds on self hosted doctype
  press/press/doctype/self_hosted_server/self_hosted_server.json
  press/press/doctype/self_hosted_server/self_hosted_server.py
Owners: @adityahase

feat: rename fields
  press/agent.py
  press/press/doctype/managed_database_service/managed_database_service.json
  press/press/doctype/managed_database_service/managed_database_service.py
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: add correct_false_positives hook
  press/hooks.py
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix: dont save if no change
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: @18alantom

fix(SiteDBAccess): missing access command
  dashboard/src2/components/SiteDatabaseAccessDialog.vue
Owners: @breadgenie

chore: format with black
  press/press/doctype/invoice/invoice.py
Owners: @shadrak98

fix: handle during remote build failures
  press/press/doctype/deploy_candidate/deploy_candidate.py
  press/press/doctype/deploy_candidate/deploy_notifications.py
Owners: @18alantom

fix: Typo
  press/press/doctype/bench/bench.py
Owners: none

fix(RolePermission): remove banner
  dashboard/src2/components/settings/RoleList.vue
Owners: @breadgenie

fix: JSON object must not be NoneType
  press/press/doctype/invoice/invoice.py
Owners: @shadrak98

fix: GitHub rate limiting on webhook
  press/press/doctype/app_source/app_source.py
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: none
