Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

fix(SitePlanChange): Give Site Manager create perms
  press/press/doctype/site_plan_change/site_plan_change.json
Owners: @balamurali27

perf: Use frappe.get_all instead of frappe.db.exists to remove default order_by clause
  press/press/doctype/bench/bench.py
Owners: none

chore: Set minimum balance to add as total of unpaid invoices
  dashboard/src/components/BuyPrepaidCredits.vue
  dashboard/src/components/PrepaidCreditsDialog.vue
  dashboard/src/views/billing/AccountBillingUsage.vue
  press/api/billing.py
Owners: @NagariaHussain

fix: Typo
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

fix(email): Use host_name instead or site name
  press/api/email.py
Owners: none

chore: revert https://github.com/frappe/press/commit/094188fed99de98abc9ca2a39c1bfc487e952247
  press/api/email.py
Owners: none

chore: Setup a context manager for handling authenticated requests for saas in-site billing
  press/api/developer/marketplace.py
Owners: none

chore: don't recover if backups are skipped
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix(SiteUpdate): Don't exit site update loop if pending update found
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

ci: Move from travis to workflows
  .github/workflows/main.yaml
Owners: none

ci: Fix flake and remove travis configs
  .travis.yml
  .travis/mariadb.json
  press/api/developer/marketplace.py
  press/press/doctype/marketplace_app/marketplace_app.py
  press/www/marketplace/index.py
Owners: @NagariaHussain

fix: Broken search
  dashboard/src/components/CommandPalette.vue
Owners: @NagariaHussain

chore: Add saas-next.css to .gitignore
  .gitignore
Owners: none

chore(SiteMigration): Give Site Manager r/w and create access
  press/press/doctype/site_migration/site_migration.json
Owners: @balamurali27

chore(deps): Bump frappe ui to 0.0.102 and update few components
  dashboard/package.json
  dashboard/src/components/CommandPalette.vue
  dashboard/src/components/global/Spinner.vue
  dashboard/src/components/global/register.js
  dashboard/vite.config.js
Owners: @NagariaHussain

style: Prettier
  dashboard/src/App.vue
  dashboard/src/components/CommandPalette.vue
  dashboard/src/components/ImpersonateTeam.vue
  dashboard/src/components/InvoiceUsageTable.vue
  dashboard/src/components/MarketplaceAppLinks.vue
  dashboard/src/components/global/Spinner.vue
  dashboard/src/components/global/register.js
  dashboard/src/controllers/socket.js
  dashboard/src/router/server.js
  dashboard/src/utils/dayjs.js
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/bench/BenchOverviewInfo.vue
  dashboard/src/views/bench/BenchVersions.vue
  dashboard/src/views/billing/AccountBillingCards.vue
  dashboard/src/views/billing/AccountBillingUsage.vue
  dashboard/src/views/billing/CountrySelectionDialog.vue
  dashboard/src/views/marketplace/MarketplaceAppPricing.vue
  dashboard/src/views/saas/AppPlan.vue
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerBenches.vue
  dashboard/src/views/settings/AccountEmails.vue
  dashboard/src/views/settings/AccountSSHKey.vue
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteAutoUpdate.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain, @rutwikhdev

fix: Broken badges
  dashboard/src/components/MarketplaceAppCard.vue
  dashboard/src/utils.js
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/bench/BenchList.vue
  dashboard/src/views/bench/BenchVersions.vue
  dashboard/src/views/marketplace/MarketplaceApp.vue
  dashboard/src/views/marketplace/MarketplacePayouts.vue
  dashboard/src/views/saas/AppBenches.vue
  dashboard/src/views/saas/AppCard.vue
  dashboard/src/views/server/Server.vue
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteList.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain, @rutwikhdev

fix: In site billing
  press/api/developer/marketplace.py
  press/api/marketplace.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
  press/press/doctype/marketplace_app/marketplace_app.py
  press/press/doctype/site/site.py
  press/templates/emails/remote_login.html
  press/templates/saas/macros.html
  press/www/saas/billing.html
Owners: @NagariaHussain, @balamurali27, @rutwikhdev

refactor: Billing template
  press/api/developer/marketplace.py
  press/www/saas/billing.html
Owners: @rutwikhdev

fix: Remove app_include_js conf on plan_change
  press/press/doctype/site/site.py
  press/www/saas/billing.html
Owners: @balamurali27, @rutwikhdev

fix: allow web_search on fc docs
  press/auth.py
Owners: none

fix: rename_doc was always passed with new name as old name
  press/press/doctype/team/team.py
Owners: none

chore: flake8
  press/press/doctype/team/team.py
Owners: none

fix: update_billing_details
  press/press/doctype/team/team.py
Owners: none

chore: Update dropdowns
  dashboard/src/components/AppSourceSelector.vue
  dashboard/src/components/MarketplaceAppProfile.vue
  dashboard/src/components/MarketplaceAppReleaseList.vue
  dashboard/src/components/Navbar.vue
  dashboard/src/components/NewAppRepositories.vue
  dashboard/src/components/RichSelect.vue
  dashboard/src/components/SelectAppFromGithub.vue
  dashboard/src/components/global/Dropdown.vue
  dashboard/src/components/global/ErrorMessage.vue
  dashboard/src/components/global/GreenCheckIcon.vue
  dashboard/src/components/global/register.js
  dashboard/src/utils.js
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/bench/BenchApps.vue
  dashboard/src/views/bench/BenchList.vue
  dashboard/src/views/bench/BenchVersions.vue
  dashboard/src/views/billing/AccountBillingCards.vue
  dashboard/src/views/saas/Sidebar.vue
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerList.vue
  dashboard/src/views/settings/AccountMembers.vue
  dashboard/src/views/settings/AccountTeam.vue
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteApps.vue
  dashboard/src/views/site/SiteDatabaseBackups.vue
  dashboard/src/views/site/SiteList.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
  dashboard/src/views/site/SiteOverviewDomains.vue
Owners: @NagariaHussain, @rutwikhdev

chore: Commit yarn.lock
  dashboard/package.json
  dashboard/yarn.lock
Owners: @NagariaHussain

fix: Dialog for select plan
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

fix: Typo
  press/press/doctype/marketplace_app/marketplace_app.py
Owners: none

chore: Remove unnecessary component registrations
  dashboard/src/components/SelectAppFromGithub.vue
Owners: @NagariaHussain

fix: Rename action -> handler
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

chore: Restore old dropdown component
  dashboard/src/components/RichSelect.vue
  dashboard/src/components/global/OldDropdown.vue
Owners: @NagariaHussain

fix(minor): TypeError
  press/press/doctype/site/site_usages.py
Owners: @balamurali27

chore: Remove unused components
  dashboard/src/App.vue
  dashboard/src/components/FrappeSaasLogo.vue
  dashboard/src/components/Sidebar.vue
  dashboard/src/controllers/register.js
  dashboard/src/controllers/saas.js
  dashboard/src/main.js
  dashboard/src/router/index.js
  dashboard/src/router/saas.js
  dashboard/src/views/saas/AppBenches.vue
  dashboard/src/views/saas/AppCard.vue
  dashboard/src/views/saas/AppList.vue
  dashboard/src/views/saas/AppPlan.vue
  dashboard/src/views/saas/AppPlanCard.vue
  dashboard/src/views/saas/AppSettings.vue
  dashboard/src/views/saas/AppSites.vue
  dashboard/src/views/saas/Billing.vue
  dashboard/src/views/saas/NewSaasApp.vue
  dashboard/src/views/saas/NewSubscription.vue
  dashboard/src/views/saas/RemoteLoginFailure.vue
  dashboard/src/views/saas/RemoteLoginSuccess.vue
  dashboard/src/views/saas/SaasApp.vue
  dashboard/src/views/saas/SaasLogin.vue
  dashboard/src/views/saas/SaasNavbar.vue
  dashboard/src/views/saas/SaasSignup.vue
  dashboard/src/views/saas/Settings.vue
  dashboard/src/views/saas/Sidebar.vue
  dashboard/src/views/saas/SiteJobs.vue
  dashboard/src/views/saas/Subscription.vue
  dashboard/src/views/saas/SubscriptionDatabase.vue
  dashboard/src/views/saas/SubscriptionList.vue
  dashboard/src/views/saas/SubscriptionOverview.vue
  dashboard/src/views/saas/SubscriptionPlan.vue
  dashboard/src/views/saas/SubscriptionSettings.vue
Owners: @NagariaHussain, @rutwikhdev

chore: Remove FrappeSaasLogo component
  dashboard/src/views/partials/LoginBox.vue
Owners: @NagariaHussain

fix: Use :label instead of :status for Badge
  dashboard/src/components/AppPlanCard.vue
  dashboard/src/views/bench/BenchDeploys.vue
  dashboard/src/views/bench/BenchOverviewVersions.vue
  dashboard/src/views/bench/BenchVersions.vue
  dashboard/src/views/general/AgentJobs.vue
  dashboard/src/views/general/AnsiblePlays.vue
  dashboard/src/views/marketplace/MarketplaceAppSubscriptions.vue
  dashboard/src/views/server/Server.vue
  dashboard/src/views/site/SiteOverviewAppSubscriptions.vue
  dashboard/src/views/site/SiteOverviewDomains.vue
Owners: @NagariaHussain

fix: Reduce debounce and remove saas references
  dashboard/src/components/CommandPalette.vue
  dashboard/src/controllers/auth.js
  dashboard/src/router/register.js
  dashboard/src/views/settings/AccountActions.vue
Owners: @NagariaHussain

fix: s3 endpoint_url invalid request
  press/press/doctype/backup_bucket/backup_bucket.json
  press/press/doctype/remote_file/remote_file.py
Owners: none

chore: Refactor
  press/press/doctype/remote_file/remote_file.py
Owners: none

chore(deps): Bump frappe-ui version and related changes
  dashboard/package.json
  dashboard/src/components/CommandPalette.vue
  dashboard/src/views/server/NewServerHostname.vue
  dashboard/yarn.lock
Owners: @NagariaHussain

fix: Replace v-bind with value and typo
  dashboard/src/views/server/NewServerHostname.vue
Owners: @NagariaHussain

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
