Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

fix: reduce concurrent downloads on app servers (#646)
  press/playbooks/docker_eof_update.yml
  press/playbooks/roles/docker_eof_update/tasks/main.yml
  press/playbooks/roles/docker_eof_update/templates/daemon.json
Owners: @adityahase, @balamurali27

feat: add site usage to log settings
  press/press/doctype/site_usage/site_usage.py
Owners: @balamurali27

fix: Change audit date to yesterday
  press/press/audit.py
  press/press/doctype/subscription/subscription.py
Owners: none

feat: prometheus report for server stats
  press/api/server.py
  press/press/report/server_stats/__init__.py
  press/press/report/server_stats/server_stats.js
  press/press/report/server_stats/server_stats.json
  press/press/report/server_stats/server_stats.py
Owners: none

chore: remove filters
  press/press/report/server_stats/server_stats.json
Owners: none

fix: For some weird reason this is failing on site archivals
  press/press/doctype/site/site.py
Owners: @balamurali27

style: Flake
  press/press/audit.py
Owners: none

fix: incorrect arguments
  press/press/report/server_stats/server_stats.py
Owners: none

fix: added servers column data and precision
  press/press/report/server_stats/server_stats.py
Owners: none

fix: patch to delete old site_usage records
  press/patches/v0_0_4/delete_old_site_usage_records.py
Owners: none

chore: Allow period start and end args in payout order creation
  press/press/doctype/payout_order/payout_order.py
Owners: none

fix(Payouts): Comparing str and datetime obj
  press/press/doctype/payout_order/payout_order.py
Owners: none

chore: Set region explicitly while uploading backup to s3
  press/agent.py
  press/press/doctype/site_backup/site_backup.py
Owners: @balamurali27

chore: Change default payment mode to Prepaid Credits if credits are bought
  press/press/doctype/team/team.py
Owners: none

chore: Truncate long names in sidebar
  dashboard/src/views/saas/Sidebar.vue
Owners: @rutwikhdev

chore(ui): Reduce padding
  dashboard/src/App.vue
Owners: @NagariaHussain

fix: Too much padding and margin
  dashboard/src/App.vue
  dashboard/src/components/CardWithDetails.vue
  dashboard/src/components/Navbar.vue
Owners: @NagariaHussain

fix: $dayjs global function reference
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

chore: Global reference for dayjs
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

fix: removed patch
  press/patches/v0_0_4/delete_old_site_usage_records.py
Owners: none

feat(Site): Migrate job disables maintenance mode by default
  press/agent.py
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(Site): Migrate should respect status before migrate
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: CPU usage & column widths
  press/press/report/server_stats/server_stats.py
Owners: none

feat(minor): show total_resource values in separate columns
  press/press/report/server_stats/server_stats.py
Owners: none

feat: added swap memory
  press/press/report/server_stats/server_stats.py
Owners: none

chore: reduce column width
  press/press/report/server_stats/server_stats.py
Owners: none

fix: Add fields to Server stats report
  press/press/report/server_stats/server_stats.py
Owners: none

fix: Assign variables before referencing
  press/press/doctype/site/saas_pool.py
Owners: @balamurali27

fix: Ignore erroneous saas pools
  press/press/doctype/site/saas_pool.py
Owners: @balamurali27

chore: Give Site Manager access to mysql reports
  press/press/report/binary_log_browser/binary_log_browser.py
  press/press/report/mariadb_process_list/mariadb_process_list.py
Owners: none

fix: Give correct arguments to frappe.only_for
  press/press/report/binary_log_browser/binary_log_browser.py
  press/press/report/mariadb_process_list/mariadb_process_list.py
Owners: none

fix(SiteBackup): Don't consider any trial plan for backup
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: check data Type before assignment
  press/agent.py
Owners: none

fix: typo in error message
  press/press/doctype/deploy/deploy.py
Owners: none

fix: remove 3 plan limit
  dashboard/src/views/marketplace/MarketplaceAppPricing.vue
Owners: @NagariaHussain

chore(ReleaseGroup): Update default bench version to 5.15.2
  press/press/doctype/release_group/release_group.py
Owners: none

feat: retry creating broken bench
  press/press/doctype/bench/bench.js
  press/press/doctype/bench/bench.py
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: none

fix: check for successful candidates
  press/press/doctype/bench/bench.py
Owners: none

fix: use get_doc
  press/press/doctype/bench/bench.py
Owners: none

fix(DeployCandidate): Correctly update status when steps err
  press/press/doctype/deploy_candidate/deploy_candidate.py
Owners: none
