Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

feat: Validations to make sure only 1 key is default at any time
  press/press/doctype/user_ssh_key/user_ssh_key.py
Owners: none

chore: Return a default SSH key for account object
  press/api/account.py
Owners: none

chore: Use the default key to generate SSH cert
  press/api/bench.py
Owners: none

fix: Popover menu rendered beneath Dialog
  dashboard/src/components/Popover.vue
Owners: @NagariaHussain

chore: Add patch to make existing keys default
  press/patches.txt
  press/press/doctype/user_ssh_key/patches/set_existing_keys_as_default.py
Owners: none

chore: Added a width option to Modal
  dashboard/src/components/Modal.vue
Owners: @NagariaHussain

refactor[ui]: Checkout dialog box
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
Owners: @NagariaHussain

typo: Billed -> Billing
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
Owners: @NagariaHussain

feat: Fetch partner_type from PRM and calculate discount
  press/api/marketplace.py
Owners: none

chore: Remove print statement
  press/api/marketplace.py
Owners: none

chore: Set payment_attempt_count as 0 by default on invoices
  press/press/doctype/invoice/invoice.json
Owners: @NagariaHussain

feat: Use partner credits to pay for marketplace/saas
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
  press/api/marketplace.py
Owners: @NagariaHussain

style: Black
  press/api/marketplace.py
Owners: none

chore: Added a check field in Marketplace App Plan doctype for partner_discount
  press/api/marketplace.py
  press/marketplace/doctype/marketplace_app_plan/marketplace_app_plan.json
Owners: @NagariaHussain

fix: Preserve logError functionality
  dashboard/src/main.js
Owners: @NagariaHussain

feat: Sentry
  dashboard/index.html
  dashboard/package.json
  dashboard/src/main.js
  dashboard/yarn.lock
  press/www/dashboard.py
Owners: @NagariaHussain

chore: Check field in stripe payment method to track micro charge verification
  press/press/doctype/stripe_payment_method/stripe_payment_method.json
Owners: @NagariaHussain

feat: DocType to track micro charges
  press/press/doctype/stripe_micro_charge_record/__init__.py
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.js
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.json
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.py
  press/press/doctype/stripe_micro_charge_record/test_stripe_micro_charge_record.py
Owners: @NagariaHussain

feat: API to setup payment intent for micro charges
  press/api/billing.py
Owners: none

feat: Handle webhook events for micro charges
  press/press/doctype/team/team.py
  press/utils/billing.py
Owners: none

feat: Feature toggle for micro charge
  press/press/doctype/press_settings/press_settings.json
Owners: none

chore: Cleanup micro charge record doctype
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.json
Owners: @NagariaHussain

fix: Set feature flags in $account object
  dashboard/src/controllers/account.js
Owners: @NagariaHussain

chore: Send feature flags in account.get API
  press/api/account.py
Owners: none

fix: Stripe amounts should be integer
  press/api/billing.py
Owners: none

fix: Show verification check field in list view
  press/press/doctype/stripe_payment_method/stripe_payment_method.json
Owners: @NagariaHussain

feat: Basic Micro charge Frontend
  dashboard/src/components/StripeCard.vue
Owners: @NagariaHussain

feat: Refund Micro Charge from desk
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.js
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.json
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.py
Owners: @NagariaHussain

fix: Missed function argument
  dashboard/src/components/StripeCard.vue
Owners: @NagariaHussain

fix: Set payment intent id while creating charge record
  press/utils/billing.py
Owners: none

chore: Auto-refund after micro charge record insert
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.py
Owners: @NagariaHussain

fix: Close dialog after making payment method default
  dashboard/src/views/billing/AccountBillingCards.vue
Owners: @NagariaHussain

feat: Very Basic UI to show charge notice to user
  dashboard/src/components/StripeCard.vue
Owners: @NagariaHussain

chore: Handle and log error during processing of micro charge webhook
  press/utils/billing.py
Owners: none

feat: proxy replica
  press/playbooks/primary_proxy.yml
  press/playbooks/roles/primary_proxy/tasks/main.yml
  press/playbooks/roles/primary_proxy/templates/lsyncd.conf
  press/playbooks/roles/primary_proxy/templates/lsyncd.service
  press/playbooks/roles/secondary_proxy/tasks/main.yml
  press/playbooks/secondary_proxy.yml
  press/press/doctype/proxy_server/proxy_server.js
  press/press/doctype/proxy_server/proxy_server.json
  press/press/doctype/proxy_server/proxy_server.py
Owners: @adityahase, @balamurali27

fix: syntax err due to comment in conf
  press/playbooks/roles/primary_proxy/templates/lsyncd.conf
Owners: @adityahase, @balamurali27

fix: Close dialog after payment method removal
  dashboard/src/views/billing/AccountBillingCards.vue
Owners: @NagariaHussain

fix: Make `refunded` field read-only
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.json
Owners: @NagariaHussain

feat: Add link to stripe dashboard in micro charge form
  press/press/doctype/stripe_micro_charge_record/stripe_micro_charge_record.js
Owners: @NagariaHussain

feat: proxy server one-click failover
  press/agent.py
  press/press/doctype/agent_job/agent_job.py
  press/press/doctype/proxy_server/proxy_server.js
  press/press/doctype/proxy_server/proxy_server.json
  press/press/doctype/proxy_server/proxy_server.py
Owners: @adityahase

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
