Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

fix: Add update-agent-ansible action in Server
  press/press/doctype/server/server.js
Owners: @adityahase

perf: Run one query for bench-field-check audit
  press/press/audit.py
Owners: none

fix: Include sites present on multiple benches in bench-field-check audit
  press/press/audit.py
Owners: none

fix: Include potential fixes in bench-field-check audit
  press/press/audit.py
Owners: none

fix: Readability fixes for bench-field-check audit log
  press/press/audit.py
Owners: none

fix: create template for failed version upgrade email
  press/press/doctype/version_upgrade/version_upgrade.py
  press/templates/emails/version_upgrade_failed.html
Owners: none

fix: Don't consult Central for subdomain validation
  press/api/central.py
  press/api/saas.py
Owners: none

fix: Immediately apply bench_field_update fixes
  press/press/audit.py
Owners: none

fix: bench_field_update is a just one of many possible fixes
  press/press/audit.py
Owners: none

fix: Add disk_free metric to server stats report
  press/press/report/server_stats/server_stats.py
Owners: none

feat: Add separate report for shared app servers
  press/press/report/shared_app_server_stats/__init__.py
  press/press/report/shared_app_server_stats/shared_app_server_stats.js
  press/press/report/shared_app_server_stats/shared_app_server_stats.json
  press/press/report/shared_app_server_stats/shared_app_server_stats.py
Owners: none

fix: Show only active servers in shared server stats report
  press/press/report/shared_app_server_stats/shared_app_server_stats.py
Owners: none

refactor(Server): Move calculate_swap method to api file
  press/api/server.py
  press/press/report/server_stats/server_stats.py
Owners: none

fix(Server): Check if swap file exists before fallocate
  press/playbooks/roles/swap/tasks/main.yml
Owners: @adityahase, @balamurali27

fix(Server): Add function to increase swap
  press/playbooks/increase_swap.yml
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase, @balamurali27

fix(Server): Remove size parameter in increase_swap
  press/press/doctype/server/server.py
Owners: @adityahase

refactor: Remove redundant definition of calculate_swap in report
  press/press/report/shared_app_server_stats/shared_app_server_stats.py
Owners: none

fix: Take sum of emails for current month
  press/api/email.py
Owners: none

feat(Site): Add button to retry rename
  press/press/doctype/site/site.js
Owners: @balamurali27

fix: check subdomain along with root domain
  press/press/doctype/blocked_domain/blocked_domain.json
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(Site): Whitelist rename method
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: add patch to update blocked domains with root domains
  press/patches/v0_0_4/update_blocked_domains.py
Owners: none

fix(Site): Make retry rename a separate function
  press/press/doctype/site/site.js
  press/press/doctype/site/site.py
Owners: @balamurali27

refactor(ui/ux): Signup templates
  press/templates/saas/layout.html
  press/templates/saas/setup-account.html
  press/templates/saas/signup.html
Owners: @rutwikhdev

fix: added blocked for all check in blocked domain and rremove redundant code
  press/patches/v0_0_4/update_blocked_domains.py
  press/press/doctype/blocked_domain/blocked_domain.json
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Run trace server with Vagrantfile
  backbone/vagrant/Vagrantfile
Owners: @adityahase

fix(bootstrap): Setup stripe credentials
  press/bootstrap.py
Owners: none

fix: Reuse cache redis for socketio
  press/docker/common_site_config.json
  press/docker/config/redis-socketio.conf
  press/docker/config/supervisor.conf
  press/press/doctype/bench/bench.py
Owners: none

fix(bootstrap): Setup trace server
  press/bootstrap.py
Owners: none

chore: Rename EFF_REGISTRATION_EMAIL to ADMIN_EMAIL
  press/bootstrap.py
Owners: none

fix: Complete setup wizard before bootstrapping
  press/bootstrap.py
Owners: none

fix(Site): Rename site doc if rename step on upstream succeeds
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(Site): Rename doc if rename step on app server succeeds
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: show billing name on invoices instead of team name
  press/press/doctype/team/team.py
Owners: none

fix(Site): Show latest jobs by creation instead of modified
  press/api/site.py
Owners: @balamurali27

fix: set default deploy_type Pull & remove pending
  press/press/doctype/app_release_difference/app_release_difference.json
Owners: none

fix: set deploy type after insert
  press/press/doctype/deploy_candidate_difference/deploy_candidate_difference.py
Owners: none

chore: Add partner discount on FC plans
  press/press/doctype/invoice/invoice.py
Owners: @NagariaHussain

chore: Added some options to fusejs search
  dashboard/src/components/CommandPalette.vue
Owners: @NagariaHussain

fix: check if data else continue
  press/press/doctype/bench/bench.py
Owners: none

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
