Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

feat: Use existing credits for new and disabled subscriptions
  dashboard/src/views/MarketplacePlanChange.vue
  dashboard/src/views/SiteOverviewAppSubscriptions.vue
  press/api/marketplace.py
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

feat: Show bench names on SiteList
  dashboard/src/views/SiteList.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

feat: Remember last used team and set it as default on login
  dashboard/src/controllers/auth.js
  press/api/account.py
  press/press/doctype/team/team.json
Owners: @NagariaHussain

style: Flake8 refactor
  press/api/site.py
Owners: @balamurali27

fix: Rename 'Apps' to 'Developer'
  dashboard/src/views/saas/Sidebar.vue
Owners: @rutwikhdev

refactor: Move apps to a separate tab
  dashboard/src/router/bench.js
  dashboard/src/views/Bench.vue
  dashboard/src/views/bench/BenchApps.vue
Owners: @NagariaHussain

chore: Remove (now) dead code
  dashboard/src/views/BenchOverview.vue
  dashboard/src/views/BenchOverviewApps.vue
  dashboard/src/views/bench/BenchApps.vue
Owners: @NagariaHussain

fix: Dynamic position for search box
  dashboard/src/views/Sites.vue
Owners: @NagariaHussain

fix(ux): Link to add apps to private bench in site apps dialog
  dashboard/src/views/SiteApps.vue
Owners: @NagariaHussain

feat: Test password strength on saas signups
  press/api/saas.py
  press/templates/saas/signup.html
Owners: @rutwikhdev

fix: Page title using `pageMeta` mixin
  dashboard/index.html
  dashboard/src/components/global/register.js
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/bench/Benches.vue
  dashboard/src/views/billing/AccountBilling.vue
  dashboard/src/views/marketplace/Marketplace.vue
  dashboard/src/views/settings/AccountSettings.vue
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/Sites.vue
Owners: @NagariaHussain

chore: Remove dead component
  dashboard/src/components/global/SearchBar.vue
Owners: @NagariaHussain

fix: Allow terminating Virtual Machine using API
  press/press/doctype/virtual_machine/virtual_machine.js
  press/press/doctype/virtual_machine/virtual_machine.json
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

fix: Reboot button for Virtual Machine
  press/press/doctype/virtual_machine/virtual_machine.js
  press/press/doctype/virtual_machine/virtual_machine.py
Owners: none

feat: Add Virtual Disk Snapshot DocType
  press/press/doctype/virtual_disk_snapshot/__init__.py
  press/press/doctype/virtual_disk_snapshot/test_virtual_disk_snapshot.py
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.js
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.json
  press/press/doctype/virtual_disk_snapshot/virtual_disk_snapshot.py
Owners: none

feat: Let the user know a deploy is in progress
  dashboard/src/App.vue
  dashboard/src/components/AlertBenchUpdate.vue
  dashboard/src/views/marketplace/MarketplaceAppPricing.vue
  dashboard/src/views/onboarding/OnboardingStepSetupPayment.vue
  press/api/bench.py
  press/press/doctype/release_group/release_group.py
Owners: @NagariaHussain

fix: import Path changes
  dashboard/src/views/auth/Login.vue
  dashboard/src/views/auth/ResetPassword.vue
  dashboard/src/views/auth/SetupAccount.vue
  dashboard/src/views/auth/Signup.vue
  dashboard/src/views/saas/SaasLogin.vue
  dashboard/src/views/saas/SaasSignup.vue
Owners: @NagariaHussain, @rutwikhdev

feat: Show ServerIcon in Sidebar
  dashboard/src/components/icons/index.js
  dashboard/src/views/saas/Sidebar.vue
Owners: @NagariaHussain, @rutwikhdev

feat: Add server list
  dashboard/src/router/index.js
  dashboard/src/router/server.js
  dashboard/src/views/ServerList.vue
  dashboard/src/views/Servers.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Add Servers in Sidebar
  dashboard/src/views/saas/Sidebar.vue
Owners: @rutwikhdev

feat: Include servers in Search
  dashboard/src/components/SiteAndBenchSearch.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Add servers_enabled feature flag in Team DocType
  press/press/doctype/team/team.json
Owners: none

feat: Add Team field to Virtual Machine and Server DocTypes
  press/press/doctype/database_server/database_server.json
  press/press/doctype/proxy_server/proxy_server.json
  press/press/doctype/server/server.json
  press/press/doctype/virtual_machine/virtual_machine.json
Owners: @adityahase

fix: Update component paths
  dashboard/src/views/saas/Billing.vue
  dashboard/src/views/saas/Settings.vue
Owners: @rutwikhdev

fix: Server icon highlight color
  dashboard/src/components/icons/ServerIcon.vue
Owners: @NagariaHussain

style: Black
  press/api/server.py
Owners: none

fix: SaaS App parameter is optional for new bench
  dashboard/src/router/bench.js
  dashboard/src/views/bench/NewBench.vue
Owners: @NagariaHussain

fix: Ceil float values for Prepaid Credits
  dashboard/src/views/billing/AccountBillingUsage.vue
  dashboard/src/views/site/Sites.vue
Owners: @NagariaHussain

clean: Remove not required Ceil as value already ceiled
  dashboard/src/views/billing/AccountBillingUsage.vue
Owners: @NagariaHussain

feat(VersionUpgrade): Allow users to schedule version upgrades
  press/auth.py
Owners: none

fix(VersionUpgrade): Source group shouldn't change after upgrade
  press/press/doctype/version_upgrade/version_upgrade.json
Owners: none

feat(ReleaseGroup): Add button to add server in desk
  press/press/doctype/release_group/release_group.js
  press/press/doctype/release_group/release_group.py
Owners: none

feat: Added Marketplace Add On doctype
  press/marketplace/doctype/marketplace_add_on/__init__.py
  press/marketplace/doctype/marketplace_add_on/marketplace_add_on.json
  press/marketplace/doctype/marketplace_add_on/marketplace_add_on.py
Owners: @NagariaHussain

fix: Allow Press Admin and Press Member to access Server DocTypes
  press/press/doctype/database_server/database_server.json
  press/press/doctype/server/server.json
Owners: @adityahase

fix: Permission query for Server DocTypes
  press/hooks.py
  press/press/doctype/database_server/database_server.py
  press/press/doctype/server/server.py
Owners: @adityahase

refactor: Logic for create daily Marketplace Usage Records
  press/marketplace/doctype/marketplace_usage_record/marketplace_usage_record.py
Owners: @NagariaHussain

fix: All benches API not returning empty benches
  press/api/bench.py
  press/press/doctype/database_server/database_server.py
Owners: @adityahase

fix: Add from github doesn't show up in marketplace add app dialog
  dashboard/src/views/marketplace/Marketplace.vue
Owners: @NagariaHussain

chore(ui): Add max-height to billing history and credit balance components
  dashboard/src/views/billing/AccountBillingCreditBalance.vue
  dashboard/src/views/billing/AccountBillingPayments.vue
Owners: @NagariaHussain

fix: Broken imports
  dashboard/src/views/site/SiteApps.vue
  dashboard/src/views/site/SiteOverviewAppSubscriptions.vue
Owners: @NagariaHussain
