Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev

chore: Only select available files for deletion
  press/press/doctype/remote_file/remote_file.py
Owners: none

chore: Show app title instead of name in user-review
  dashboard/src/views/marketplace/ReviewMarketplaceApp.vue
  press/press/doctype/marketplace_app/templates/marketplace_app.html
Owners: @NagariaHussain

feat: Track monthly usage summary in invoice
  press/press/doctype/invoice/invoice.json
  press/press/doctype/invoice/invoice.py
  press/press/doctype/team/team.py
  press/press/doctype/usage_record/usage_record.py
Owners: @NagariaHussain

fix: Updated filter and black
  press/press/doctype/subscription/subscription.py
  press/press/doctype/team/team.py
Owners: none

refactor: Move invoice type to update_usage_in_invoice method
  press/press/doctype/usage_record/usage_record.py
Owners: none

refactor: Create consumption records from invoices
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
Owners: @NagariaHussain

fix(SiteUpdate): Activate site if site was broken
  press/agent.py
Owners: none

feat(Site): Add job to move site to bench without backup
  press/agent.py
  press/press/doctype/site/site.py
Owners: @balamurali27

feat(AgentJobType): Add Move Site to Bench job
  press/fixtures/agent_job_type.json
Owners: none

fix(Site): Don't use status_before_update for move_site_to_bench
  press/agent.py
Owners: none

fix: Correct API endpoint for move_site_to_bench
  press/agent.py
Owners: none

fix: Add callback for move_site_to_bench
  press/press/doctype/agent_job/agent_job.py
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: Update bench and group fields only if move_to_bench step successful
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(Server): Update agent repo url for public repo
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Added fields for tracking marketplace payout commission
  press/press/doctype/press_settings/press_settings.json
Owners: none

feat: Commission tracking marketplace payouts
  press/press/doctype/payout_order/payout_order.json
  press/press/doctype/payout_order/payout_order.py
Owners: none

style: black
  press/marketplace/doctype/marketplace_consumption_record/marketplace_consumption_record.py
Owners: @NagariaHussain

fix(Site): Don't update site status for move to bench job
  press/press/doctype/site/site.py
Owners: @balamurali27

fix(Site): Update site status correctly for move_to_bench
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: Hide site config from dashboard
  dashboard/src/views/site/Site.vue
  press/api/site.py
  press/press/doctype/site/site.json
Owners: @NagariaHussain, @balamurali27

chore: Show yearly tag for plans that don't have monthly subscription
  dashboard/src/components/AppPlanCard.vue
  press/agent.py
  press/press/doctype/marketplace_app/marketplace_app.py
  press/press/doctype/payout_order/payout_order.py
Owners: @NagariaHussain

chore: Show yearly price as planTitle on AppPlanCard
  dashboard/src/utils.js
Owners: @NagariaHussain

fix(Site): Pass admin password for after migrate steps
  press/agent.py
Owners: none

chore(deps): Added daysjs
  dashboard/package.json
  dashboard/yarn.lock
Owners: @NagariaHussain

chore: Charge broken sites too
  press/press/doctype/site/site.py
Owners: @balamurali27

fix: prompt for password for DB access command
  dashboard/src/views/site/DatabaseAccessDialog.vue
Owners: @NagariaHussain

chore: unrealted changes
  dashboard/src/views/site/DatabaseAccessDialog.vue
Owners: @NagariaHussain

fix: prompt for password for DB access command (#624)
  dashboard/src/views/site/DatabaseAccessDialog.vue
Owners: @NagariaHussain

fix: Ignore free sites while creating usage records for subscriptions
  press/press/doctype/subscription/subscription.py
Owners: none

perf: faster versions
  press/api/bench.py
  press/utils/__init__.py
Owners: none

fix: Only finalize invoices for enabled teams
  press/press/doctype/invoice/invoice.py
Owners: @NagariaHussain

refactor: Move Apps section to a new tab
  dashboard/src/router/site.js
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteOverview.vue
Owners: @NagariaHussain

chore: Remove exclaimation
  dashboard/src/views/bench/BenchList.vue
Owners: @NagariaHussain

chore: Show version of site in sitelist view
  dashboard/src/views/site/SiteList.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

chore: Remove search from sites and benches page
  dashboard/src/views/bench/Benches.vue
  dashboard/src/views/site/Sites.vue
Owners: @NagariaHussain

feat: Using dayjs for site creation datetime
  dashboard/src/main.js
  dashboard/src/utils.js
  dashboard/src/utils/dayjs.js
Owners: @NagariaHussain

chore(ui): Reduce padding
  dashboard/src/components/global/PageHeader.vue
Owners: @NagariaHussain

refactor: Anchor sidebar to the left and complete redesign
  dashboard/src/App.vue
  dashboard/src/views/saas/Sidebar.vue
Owners: @NagariaHussain, @rutwikhdev

style: Prettier
  dashboard/src/App.vue
  dashboard/src/components/AddressForm.vue
  dashboard/src/components/AppPlanCard.vue
  dashboard/src/components/MarketplaceAppLinks.vue
  dashboard/src/components/Modal.vue
  dashboard/src/components/StripeCard.vue
  dashboard/src/controllers/auth.js
  dashboard/src/main.js
  dashboard/src/router/site.js
  dashboard/src/utils.js
  dashboard/src/utils/dayjs.js
  dashboard/src/views/auth/Login.vue
  dashboard/src/views/billing/AccountBilling.vue
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
  dashboard/src/views/marketplace/ReviewMarketplaceApp.vue
  dashboard/src/views/saas/RemoteLoginSuccess.vue
  dashboard/src/views/settings/AccountEmails.vue
  dashboard/src/views/settings/AccountSSHKey.vue
  dashboard/src/views/settings/AccountSettings.vue
  dashboard/src/views/site/NewSiteRestore.vue
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteApps.vue
  dashboard/src/views/site/SiteDrop.vue
  dashboard/src/views/site/SiteOverviewAppSubscriptions.vue
  dashboard/src/views/site/SiteOverviewDomains.vue
Owners: @NagariaHussain, @rutwikhdev

refactor: Show commit's timestamp instead of hash on hover
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
  press/api/site.py
  press/press/doctype/app_tag/app_tag.json
  press/press/doctype/github_webhook_log/github_webhook_log.py
Owners: @NagariaHussain, @balamurali27
