Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

feat: Add server_type and team filters in Server Stats
  press/press/report/server_stats/server_stats.js
  press/press/report/server_stats/server_stats.json
  press/press/report/server_stats/server_stats.py
Owners: none

fix: Use gthread worker type
  press/docker/config/supervisor.conf
Owners: none

refactor: Extract get_servers method
  press/press/report/server_stats/server_stats.py
Owners: none

fix: Show error message on login failure
  dashboard/src/controllers/loginAsAdmin.js
  press/press/doctype/site/site.py
Owners: @NagariaHussain, @balamurali27

style: Flake8
  press/api/server.py
  press/press/doctype/server/server.py
  press/press/report/shared_app_server_stats/shared_app_server_stats.py
Owners: @adityahase

fix: Update agent in a background job
  press/press/doctype/server/server.py
Owners: @adityahase

fix: Whitelist cleanup_unused_files
  press/press/doctype/server/server.js
  press/press/doctype/server/server.py
Owners: @adityahase

feat: Agent Versions report
  press/agent.py
  press/press/report/agent_versions/__init__.py
  press/press/report/agent_versions/agent_versions.js
  press/press/report/agent_versions/agent_versions.json
  press/press/report/agent_versions/agent_versions.py
Owners: none

fix: Show hidden copy to clipboard button
  dashboard/src/views/bench/BenchVersions.vue
Owners: @NagariaHussain

refactor: Use benchActions instead of rendering individual buttons
  dashboard/src/views/bench/Bench.vue
Owners: @NagariaHussain

feat: Impersonate team button in site/bench/server views
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/server/Server.vue
  dashboard/src/views/site/Site.vue
  press/api/bench.py
Owners: @NagariaHussain

fix: Allow marketplace app forks to change branch
  press/api/bench.py
Owners: none

feat: Added cdn template for SaaS subscription
  press/public/js/billing.js
Owners: none

chore: Return GST info for marketplace plan
  press/press/doctype/marketplace_app/marketplace_app.py
Owners: none

feat: Added a default billing template layout
  press/templates/saas/billing_layout.html
Owners: @rutwikhdev

chore: Return gst info with marketplace plan
  press/press/doctype/marketplace_app/marketplace_app.py
Owners: none

feat: Added template layout for billing templates
  press/templates/saas/billing_layout.html
Owners: @rutwikhdev

feat: Added cdn for loading iframe
  press/www/saas/__init__.py
  press/www/saas/billing.js
Owners: @rutwikhdev

feat: Added a basic iframe template
  press/api/developer/marketplace.py
  press/www/saas/billing.html
Owners: @rutwikhdev

Update NewSiteApps.vue
  dashboard/src/views/site/NewSiteApps.vue
Owners: @NagariaHussain

Update NewSiteApps.vue
  dashboard/src/views/site/NewSiteApps.vue
Owners: @NagariaHussain

Update setup-account.html
  press/www/erpnext/setup-account.html
Owners: none

Update setup-account.html
  press/www/stripe/setup-account.html
Owners: @NagariaHussain

Update setup-account.html
  press/www/setup-account.html
Owners: none

Update setup-account.html
  press/templates/saas/setup-account.html
Owners: @rutwikhdev

feat(Site): Add button to retry archive
  press/agent.py
  press/press/doctype/site/site.js
  press/press/doctype/site/site.py
Owners: @balamurali27

feat: Added payment screen for stripe
  press/api/developer/marketplace.py
  press/www/saas/billing.html
Owners: @rutwikhdev

refactor: Black
  press/press/doctype/site/site.py
Owners: @balamurali27

chore: Rename method
  press/api/developer/marketplace.py
Owners: none

refactor: Floating bar style
  press/www/saas/billing.js
Owners: @rutwikhdev

fix: Styling
  press/www/saas/billing.html
Owners: @rutwikhdev

chore(ui): Change referral credit to $10
  dashboard/src/views/settings/AccountReferral.vue
Owners: @NagariaHussain

chore: Update minimum spend for referral
  dashboard/src/views/settings/AccountReferral.vue
Owners: @NagariaHussain

fix: Styling
  press/www/saas/billing.html
Owners: @rutwikhdev

feat: Added discount field on line items for invoice
  press/press/doctype/invoice/invoice.py
  press/press/doctype/invoice_item/invoice_item.json
Owners: @NagariaHussain

fix: Reload invoice doc before setting amount_due
  press/press/doctype/invoice/invoice.py
Owners: @NagariaHussain

chore: Updated options
  press/press/doctype/invoice/invoice.py
  press/press/doctype/invoice_item/invoice_item.json
Owners: @NagariaHussain

fix: check subdomain and root domain in blocked list
  press/api/saas.py
Owners: none

fix(Server): Don't show Prepare server option after preparation
  press/press/doctype/database_server/database_server.js
  press/press/doctype/server/server.js
Owners: @adityahase

fix(Server): Add missing comma
  press/press/doctype/database_server/database_server.js
  press/press/doctype/server/server.js
Owners: @adityahase

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
