Repository frappe/press, changes with the owners that CODEOWNERS names for each.
All owners: @adityahase, @balamurali27, @NagariaHussain, @rutwikhdev

fix: show proper commit-wise diff [minor]
  dashboard/src/components/AppUpdateCard.vue
Owners: @NagariaHussain

chore(ui): Change to Free plan without showing the Credits Dialog and hide monthly discount price
  dashboard/src/components/AppPlanCard.vue
  dashboard/src/views/site/SiteApps.vue
  dashboard/src/views/site/SiteOverviewAppSubscriptions.vue
Owners: @NagariaHussain

fix: Use change_plan doc method for site plan change
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

fix: show proper commit-wise diff [minor] (#485)
  dashboard/src/components/AppUpdateCard.vue
Owners: @NagariaHussain

refactor: Renamed component
  dashboard/src/views/marketplace/MarketplacePrepaidCredits.vue
  dashboard/src/views/site/SiteApps.vue
  dashboard/src/views/site/SiteOverviewAppSubscriptions.vue
Owners: @NagariaHussain

chore: Don't create Usage Record for prepaid Marketplace App
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

chore: If card is not added before changing plan throw to billing section
  dashboard/src/views/site/SiteApps.vue
  dashboard/src/views/site/SiteOverviewAppSubscriptions.vue
Owners: @NagariaHussain

feat: Multiplier pricing for US and EU customers
  press/marketplace/doctype/marketplace_app_plan/marketplace_app_plan.json
  press/press/doctype/marketplace_app/marketplace_app.py
  press/press/doctype/team/team.py
  press/saas/doctype/saas_settings/saas_settings.json
Owners: @NagariaHussain, @rutwikhdev

chore: Removed comment
  press/marketplace/doctype/marketplace_app_subscription/marketplace_app_subscription.py
Owners: @NagariaHussain

refactor: Don't show US/EU plans for non US/EU customers
  press/press/doctype/marketplace_app/marketplace_app.py
Owners: none

fix: Window location redirect
  dashboard/src/views/site/SiteApps.vue
  dashboard/src/views/site/SiteOverviewAppSubscriptions.vue
Owners: @NagariaHussain

refactor: Signup flow for headless signups
  press/api/saas.py
  press/press/doctype/account_request/account_request.py
Owners: none

fix(UX: 404 page on site not found
  dashboard/src/router/index.js
  dashboard/src/views/general/404.vue
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

fix(UX): Show not found page on bench not found
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

chore: Catch all route
  dashboard/src/router/index.js
Owners: @NagariaHussain

perf: Ignore ifnull
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

perf: Faster membership check
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

perf: Remove failed update check
  press/api/site.py
Owners: @balamurali27

fix: Cache result of benches_with_available_update
  press/press/doctype/site_update/site_update.py
Owners: @balamurali27

fix: disable all subs for inactive sites
  press/patches.txt
  press/patches/v0_0_4/disable_subscriptions_for_inactive_sites.py
  press/press/doctype/subscription/subscription.py
Owners: none

chore: use db.set_value instead qb
  press/patches/v0_0_4/disable_subscriptions_for_inactive_sites.py
Owners: none

refactor(ui): Merged `Installed Apps` and `Marketplace Subscription` components and moved them Site Overview for better visibility
  dashboard/src/views/site/SiteOverview.vue
  dashboard/src/views/site/SiteOverviewAppsAndSubscriptions.vue
  press/api/site.py
Owners: @NagariaHussain, @balamurali27

clean: Remove Apps tab
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

fix: Remove unused condition
  dashboard/src/views/server/Servers.vue
Owners: @NagariaHussain

fix: Typo
  dashboard/src/views/server/ServerOverview.vue
Owners: @NagariaHussain

feat: Server View
  dashboard/src/router/server.js
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerOverview.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Servr Analytics tab
  dashboard/src/router/server.js
  dashboard/src/views/server/Server.vue
  dashboard/src/views/server/ServerAnalytics.vue
Owners: @NagariaHussain

chore: Use aliases in imports
  dashboard/src/router/server.js
  dashboard/src/views/server/ServerList.vue
  dashboard/src/views/server/Servers.vue
Owners: @NagariaHussain

feat: Disk IOPS chart
  dashboard/src/views/server/ServerAnalytics.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Load Average
  dashboard/src/views/server/ServerAnalytics.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Network Usage chart
  dashboard/src/views/server/ServerAnalytics.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Server CPU usage chart using data from Promethus
  dashboard/src/views/server/ServerAnalytics.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Disk space usage chart
  dashboard/src/views/server/ServerAnalytics.vue
  press/api/server.py
Owners: @NagariaHussain

feat: Memory usage chart
  dashboard/src/views/server/ServerAnalytics.vue
Owners: @NagariaHussain

refactor: Minor routing arrangements
  dashboard/src/router/billing.js
  dashboard/src/router/index.js
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/marketplace/MarketplaceApp.vue
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

refactor: DRY up code for routing to Not Found page on resource not found error
  dashboard/src/utils.js
  dashboard/src/views/bench/Bench.vue
  dashboard/src/views/marketplace/MarketplaceApp.vue
  dashboard/src/views/site/Site.vue
Owners: @NagariaHussain

fix: Typo
  dashboard/src/views/bench/NewBench.vue
Owners: @NagariaHussain

fix: Missing rounded corders in cards
  dashboard/src/components/CardWithDetails.vue
  dashboard/src/views/bench/BenchVersions.vue
Owners: @NagariaHussain

refactor: Use Frappe UI's outside click directive
  dashboard/src/components/global/outsideClickDirective.js
  dashboard/src/components/global/register.js
Owners: @NagariaHussain

refactor: Use Frappe UI Dropdown (majority)
  dashboard/src/components/AppSourceSelector.vue
  dashboard/src/components/Navbar.vue
  dashboard/src/components/global/register.js
  dashboard/src/views/bench/BenchApps.vue
  dashboard/src/views/bench/BenchList.vue
  dashboard/src/views/settings/AccountTeam.vue
  dashboard/src/views/site/Site.vue
  dashboard/src/views/site/SiteDatabaseBackups.vue
  dashboard/src/views/site/SiteList.vue
Owners: @NagariaHussain

CODEOWNERS:

# Each line is a file pattern followed by one or more owners

# These owners will be the default owners for everything in

# the repo. Unless a later match takes precedence

backbone/ @adityahase
ssh* @adityahase
nginx.conf @adityahase
*server @adityahase
playbooks/ @adityahase @balamurali27

site* @balamurali27

dashboard/ @NagariaHussain
invoice/ @NagariaHussain
marketplace @NagariaHussain
stripe* @NagariaHussain
razorpay* @NagariaHussain

saas @rutwikhdev
